[2019-11-11 09:51] CharlyCast opened #1 "Code block missing in online doc"
In "Getting Started" under "installing poke-env" the code block

[code]

Is not visible. Other blocks appears on the same page, and when building the doc locally I do get the pip install block. Any configuration issue?

![poke-env-doc](https://user-images.githubusercontent.com/23420125/68577832-2235fb00-0471-11ea-91ff-6695c2e90a8d.png)

---

EDIT:

After comparing the online doc with the one I bui

[2019-11-11 20:59] hsahovic commented on #1
Thank you for bringing that up.

I'll investigate an correct that asap.

[2019-11-11 21:43] hsahovic commented on #1
Fixed in #2.

[2019-11-11 21:43] #1 closed

[2019-11-14 16:00] CharlyCast opened #3 "Undefined method "should_be_stored""
### Expected behaviour:

When copy-pasting the "max-damage-player" into player.py, running `python player.py` should return something like

[code]

### Actual behaviour

The following error is thrown:

[code]

[2019-11-14 19:51] hsahovic commented on #3
Thank you for bringing that up.
I'm looking into it: it should be fixed soon.

[2019-11-15 10:33] hsahovic commented on #3
This is fixed by #5, and tested. I also added integration tests.

[2019-11-15 10:33] hsahovic commented on #3
This is fixed by #5; the PR also adds a test related to the issue.

[2019-11-15 10:33] #3 closed

[2020-01-12 18:33] JoseFreixo opened #6 "When training "TrainablePlayer.train_against" it's not adding the very last state of any battle to the "training_data""
Title says it all.

This makes it difficult to determine if the battle ended in a win or a loss in order to properly train a player.

[2020-01-21 16:18] henrycharlesworth opened #7 "A number of errors in the code"
Hi, firstly I just wanted to say great job with this project, I'd been contemplating trying to train a reinforcement learning AI to learn Pokemon battling but diving into the Pokemon showdown code directly was a bit intimidating - so I'm really glad to have found this project!

I just thought I'd let you know that I've found a few small bugs so far whilst studying the moves.py file (all are easy f

[2020-01-21 16:51] henrycharlesworth commented on #7
Another one: in move.accuracy - if it's "true" then this still registers as an int, and so it gets divided by 100 and returns 0.01.

[2020-01-21 17:34] henrycharlesworth commented on #7
One more: ignoreImmunity isn't always true or false, there is one move (thousandarrows) where it returns "Ground" - probably not very important but still

[2020-01-21 17:51] hsahovic commented on #7
Hi Henry,

Thanks for the report!
I'll start working on these bugs asap, unless you prefer opening a PR yourself. If you find others, please continue reporting them!

[2020-01-21 18:14] hsahovic commented on #6
Hi Jose,

Thanks for taking the time to report this - it got lost in my email, hence the late reply.
I'll look into it ASAP.

[2020-01-21 19:51] hsahovic commented on #7
#8 fixes the bugs you reported so far. I will keep it open for some time before merging it, in case other bugs are reported in the next couple of days.

[2020-01-21 20:57] hsahovic commented on #6
The current implementation of `TrainablePlayer` does not store the final state of the game, as showdown returns that the game is over before reaching this final state.

Depending on what you exactly want to do, I can think of two ways to circumvent this issue.

1. Use `battle.won` or `battle.lost` directly.
2. Add the final state by calling `your_player.battle_to_state(battle)`.

You can access th

[2020-01-21 21:46] JoseFreixo commented on #6
The first solution should work just fine.
Your environment has been extremely helpful to develop a deep-q learning agent for a university project in machine learning. I can see that it is not yet finalized, but it was still very handy as is.

[2020-01-21 21:46] #6 closed

[2020-01-22 09:59] henrycharlesworth opened #9 "Possibility of cloning a battle state so that we can use planning algorithms"
I was just wondering whether there is a way the environment can be modified so that we can save and reload the state of a battle? My current plan is to try and train a reinforcement learning agent which won't need this feature, but in the future I think being able to add planning on top (e.g. MCTS) is likely to make the agent a lot stronger. However, to do this you need to be able to clone the cur

[2020-01-22 21:28] hsahovic commented on #9
This would definitely be an interesting and valuable feature, but I think that for now it is outside of the scope of this project. As you mentioned, it would require significant meddling with showdown's code.
Maybe open an issue on showdown and see what the feedback is on their side?

I'm closing it for now.

[2020-01-22 21:28] #9 closed

[2020-01-25 04:42] hsahovic commented on #7
I've added tests for the whole `move.py` file. I'm closing the issue, merging #8 and pushing a new version to Pypi - release 0.0.3.

[2020-01-25 04:42] #7 closed

[2020-02-04 16:55] henrycharlesworth opened #11 "Strange bug that occurs very rarely"
I haven't really figured out what's causing this, but every now and then (like every 100 battles or so on average) there's a situation where the pokemon has more than 4 moves when you call pokemon.moves. In the example I've just found, I have a dragonite with no item that has "roost", "dragondance", "earthquake", "outrage" and somehow "zdragondance" in its moves (it doesn't appear in battle.availa

[2020-02-04 18:05] hsahovic commented on #11
Thanks for your report. I will try to find where this is coming from.

Do you have a minimal example where it occurs?

[2020-02-05 10:16] henrycharlesworth commented on #11
So running the following you should find the error:

`import asyncio
from poke_env.player.player import Player
from poke_env.player.random_player import RandomPlayer
from poke_env.environment.battle import Battle
from poke_env.player_configuration import PlayerConfiguration
from poke_env.server_configuration import LocalhostServerConfiguration
from poke_env.player.utils import cross_evaluate

clas

[2020-02-05 21:31] hsahovic commented on #11
I am currently investigating.

The problem seems to be linked to z-moves being invalidly stored. I am implementing a fix, and should release it tonight if no other underlying issue is discovered.

[2020-02-05 21:59] hsahovic commented on #11
It seems that Zoroark's illusions can also cause some trouble.

I will implement a temporary fix to prevent pokemons from registering more than 4 moves. A deep dive into illusion mechanics is also added to my backlog.

[2020-02-06 08:48] hsahovic commented on #11
This issue should be solved in version 0.0.4. You can update your package to get the fix :)

[2020-02-06 08:48] #11 closed

[2020-02-06 09:40] henrycharlesworth commented on #11
Awesome, thanks for such a quick response!

[2020-02-06 17:57] henrycharlesworth opened #14 "max_concurrent_battles doesn't seem to work properly"
Me again! It seems that the default settings for max_concurrent_battles doesn't work properly - if you run the minimal example from the issue raised yesterday then the players are created with max_concurrent_battles=1, however provided the number of challenges in the cross evaluation is more than one then in fact the players will actually have two battles going on concurrently. This is quite annoy

[2020-02-06 20:34] hsahovic commented on #14
Hi! Thanks for the report, I'm looking into it. At first glance, it looks like an off-by-one situation in synchronisation primitives. I'll try to find and correct the exact issue ASAP.

[2020-02-07 08:14] hsahovic commented on #14
#15 should solve the problem. I will investigate a bit more before merging though, as I'd like to add some tests to prevent this issue from reappearing.

[2020-02-09 17:43] henrycharlesworth opened #16 "Something weird with player usernames..."
It appears that some choices of usernames are being converted at some point incorrectly. For certain username choices in PlayerConfiguration the code will not run. I haven't looked into this in detail but a few examples:

[code]
works fine, but:

[code]
doesn't (I guess the challenges just never get seen/accepted).

[code]

also doesn't work.

[2020-02-09 17:47] henrycharlesworth commented on #16
in fact weirdly:

[code]
doesn't work, but
[code]
does :s

[2020-02-10 08:50] hsahovic commented on #16
Hi! Thanks for the report. I'll look into it - it might wait a bit though, as it is not critical.

[2020-02-12 06:03] hsahovic commented on #14
This issue should be resolved with 0.0.5 :)

[2020-02-12 06:03] #14 closed

[2020-02-12 21:52] hsahovic commented on #16
After some investigation, these strange behaviors seem to be caused by showdown's management of usernames. I will add a warning if an unexpected username is returned during login.

[2020-02-12 22:25] hsahovic commented on #16
I added the warning.

[2020-02-12 22:25] #16 closed

[2020-03-05 13:12] jzyrobert opened #20 "Gen 8 random battle results in no available moves"
1. Run the performance showdown fork
2. Copy the random player tutorial but replace "gen7randombattle" with "gen8randombattle"
3. Run it, and it hangs until manually quit.

I've added print messages to the "choose_move", and an example returned object is:
`{'_battle_tag': 'battle-gen8randombattle-90', '_opponent_username': 'Player 1', '_player_role':
'p2', '_player_username': 'Player 2', '_players

[2020-03-05 21:39] hsahovic commented on #20
Hi Robert,

Thanks for bringing that up. I will try to reproduce your issue this evening; I'll keep you posted. From the looks of it, it might be a gen8-related issue.

[2020-03-05 23:33] hsahovic commented on #20
The problem comes from gen8 mechanics / specifics. Right now, the project is not compatible with gen 8. However, gen8 compatibility is part of the roadmap.
It is planned as the next step after implementing an open ai gym wrapper, which is currently being built. If gen8 support is a priority for your project, feel free to reach out - it might be prioritized.

[2020-03-06 00:09] jzyrobert commented on #20
@hsahovic I'm happy to help out if required.
Do you know which part isn't compatible? I can look into it and submit a PR

[2020-03-06 01:38] hsahovic commented on #20
Sure, that'd be awesome!

There are two main things to do:
- Handling new mechanics, including dynamax / gigantamax. This mainly imply work on the Battle class (parsing and allowing interactions with these mechanics through the API), Pokemon class (new attributes), but also on the Player class (mainly modifying the choose random move method for now). I think that the code to do that will be simila

[2020-03-06 18:22] jzyrobert commented on #20
So after some testing:

- There is only dynamax in random battles, no gigantamax (In other tiers, you can directly add gigantamaxed pokemon to your team I believe, and then dynamaxing acts like gigantamaxing)
- I have hit [this](https://github.com/smogon/pokemon-showdown/issues/6425) upstream issue so I'll try to fix that first, otherwise it's a bit of a hassle having to deal with index based move

[2020-03-25 08:02] szymonWojdat commented on #20
Hi, the upstream issue that you mentioned has been fixed [here](https://github.com/smogon/pokemon-showdown/commit/90c503724f98ae315f333d0b41be8886006f9c36). I still don't understand how does it select a max move not based off of the original move/index as you can have multiple "base" moves resulting in the same max move, eg. Trick Room and Protect turning into Max Guard. While it doesn't seem to m

[2020-03-29 00:07] jbferdinand opened #27 "NotImplementedError during training"
Hello,
When using the rl_with_open_ai_gym_wrapper script, my training (using gen7randombattle) often stops because of a "NotImplementedError". Here are the actions it fails to parse:

`NotImplementedError: ['', '-block', 'p2a: Ribombee', 'ability: Sweet Veil', '[of] p2a: Ribombee']`
or
`NotImplementedError: ['', '-block', 'p2a: Aromatisse', 'ability: Aroma Veil', '[of] p2a: Aromatisse']`

It looks

[2020-03-29 02:08] hsahovic commented on #27
Hi Jean-Baptiste,

Thanks for reporting this issue. I'll investigate and let you know asap :)

[2020-03-29 02:21] hsahovic commented on #27
Hi Jean-Baptiste,

I identified the problem: `-block` is a type of message that was introduced recently by Pokemon Showdown. When I updated our recommended fork of Showdown two days ago, I introduced this type of message in it. I also updated the Master branch of `poke-env` to manage these messages properly (see recent commits for more details), but I did not push a new version of the project on P

[2020-03-29 02:27] hsahovic commented on #27
Done! Version `0.1.2` should solve your problem; you just need to `pip install --upgrade poke-env`.

[2020-03-29 02:27] #27 closed

[2020-03-29 11:12] jbferdinand commented on #27
Thanks for the quick fix and most of all for creating this amazing project, Haris ! :-)

[2020-04-08 18:01] summit106 opened #30 "RL example won't work"
Hey,

Everytime I run the RL example you've provided with the requirements you've provided, I get the following error:

Traceback (most recent call last):
  File "C:\Users\Summi\Anaconda3\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Summi\Anaconda3\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Summi\Anaconda3\

[2020-04-08 19:23] hsahovic commented on #30
Hi @summit106! Thanks for opening this issue.

I was able to run the example on a new virtual environment; it might be a problem with your requirements. Would you mind doing a `pip freeze` and pasting the results?

[2020-04-08 19:34] summit106 commented on #30
absl-py==0.9.0
aiologger==0.5.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.3
asn1crypto==1.0.1
astor==0.8.1
astroid==2.3.1
astropy==3.2.1
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0

[2020-04-08 21:18] hsahovic commented on #30
I have an hypothesis: you have `tensorflow==2.0.0b0` installed and `keras-rl==0.4.2`, which is meant to work with `tensorflow 1.X`. Can you try installing `keras-rl2`?

If that solves your issue, I'll update the doc / examples with a warning regarding this potential version conflict.

[2020-04-08 23:05] summit106 commented on #30
It worked!

[2020-04-08 23:05] #30 closed

[2020-04-22 21:18] uduse opened #36 "Wrong return value"
https://github.com/hsahovic/poke-env/blob/4a59be4021c9db92c717891c3e1af5ab99877986/src/poke_env/environment/pokemon.py#L355

Should be `self._boosts`

[2020-04-22 21:20] uduse opened #37 "Missing property"
https://github.com/hsahovic/poke-env/blob/4a59be4021c9db92c717891c3e1af5ab99877986/src/poke_env/environment/battle.py#L566

Missing accessor for `_opponent_username`.

[2020-04-22 21:36] uduse opened #38 "Player limit issue"
My classmate and I did a [course project on generating Pokemon-playing scripts](https://github.com/dem1995/pokemon-evolutionary-agents) using your library. The biggest issue we encountered during the development process is the player limit. Initially, we wrap every single script into a player, and as more players join, the server just hangs for some reason (around 4000 players). We were not sure i

[2020-04-23 01:10] hsahovic commented on #36
Hi @uduse! Thanks for reporting this issue. I will introduce a fix next weekend.

[2020-04-23 01:10] hsahovic commented on #37
Hi @uduse! Thanks for reporting this issue. I will introduce a fix next weekend.

[2020-04-23 01:14] hsahovic commented on #38
Hi @uduse ! Thanks for reporting this issue. I have to admit that I did not really had in mind an approach requiring several thousands agents, and I'm actually quite excited to see that you tried it out!

When you say that it hangs, is it just paralyzed or is it throwing errors?

Could you share the code you came up with for pools? I'd like to see how you implemented it, and evaluate if it should

[2020-04-23 18:45] uduse commented on #38
Full example can be found [here](https://github.com/dem1995/pokemon-evolutionary-agents/blob/master/sandbox.ipynb). The function that matters is `evaluate_population`, where a `population` is a collection of scripts (battle logics) to be evaluated.

[2020-04-29 07:37] #36 closed

[2020-04-29 07:37] #37 closed

[2020-04-29 07:38] hsahovic commented on #38
I'm going to close this issue for now; performance optimization is on the project's roadmap, and I will test scalability when we start working on it.

[2020-04-29 07:38] #38 closed

[2020-05-06 00:19] Gummygamer opened #43 "Sending or accepting challenges gives an error about coroutines"
If you call player.send_challenges or player.accept_challenges, you get this error:

RuntimeWarning: coroutine 'final_tests' was never awaited
  final_tests()

If you wrap it under an async function and call it with await, you get this:

RuntimeError: Task <Task pending coro=<final_tests() running at pokerl.py:98> cb=[_run_until_complete_cb() at C:\Users\Username\Anaconda3\lib\asyncio\base_events.

[2020-05-06 00:28] hsahovic commented on #43
Hi @Gummygamer ! Thanks for opening this issue.

I do not think that we have a `final_tests` coroutine in `poke-env`. Would you mind sharing a snippet to reproduce the issue?

[2020-05-06 01:09] Gummygamer commented on #43
I just defined that function at the RL test as a placeholder for sending or accepting challenges, it's just this:

async def final_tests():
    await env_player.send_challenges('Gummygamer',100)

if I change to accepting challenges, I get the same issue. I can send the whole code for further inspection, but it's almost identical to the RL example at the documentation.

[2020-05-06 01:13] Gummygamer commented on #43
[pokerl.zip](https://github.com/hsahovic/poke-env/files/4584459/pokerl.zip)

[2020-05-06 01:41] hsahovic commented on #43
Thanks, I'll take a look at it!

[2020-05-08 22:32] hsahovic commented on #20
This issue should be fixed by version 0.3.0, which includes support for gen 8 single formats :)

[2020-05-08 22:32] #20 closed

[2020-05-08 22:39] hsahovic commented on #43
Hi!

I took a look at the code you sent: the problem is that you are trying to send challenges with an agent using the open AI API. This API is only meant for training models, and currently does not support this use-case directly - it is planned for later but requires additional work.

You can work around that by defining an agent similar to this one:

[code]

Once instantiated, you can use this a

[2020-05-09 19:56] Gummygamer opened #45 "Data transfer error using the latest version"
When trying your solution to the other issue, I found out I couldn't even run what I could before because even the default gen 8 RL example causes a websocket error, here's the output:

2020-05-09 16:48:45.305242: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library nvcuda.dll
2020-05-09 16:48:45.334698: I tensorflow/core/common_runtime/gpu/gpu_device

[2020-05-09 20:25] Gummygamer commented on #45
I just confirmed that this error doesn't happen with the previous version.

[2020-05-09 20:55] hsahovic commented on #45
Hi,

Thanks for opening this issue. I suspect a version conflict: can you try running `pip install --upgrade websockets` and re-running the code?

[2020-05-09 21:38] Gummygamer commented on #45
I hadn't tried with --upgrade, this time it worked with the newest poke-env, thanks a lot.

[2020-05-09 21:38] #45 closed

[2020-05-09 22:04] hsahovic commented on #45
@Gummygamer thanks for reporting this result! I'm adding a version requirement to `websockets` in the next release :)

[2020-05-09 22:23] Gummygamer commented on #43
It still happens the same way after embedding.
[pokerl.zip](https://github.com/hsahovic/poke-env/files/4604676/pokerl.zip)

[2020-05-09 22:51] hsahovic commented on #43
@Gummygamer that's unexpected; I'll post a full version later today

[2020-05-09 23:57] hsahovic commented on #43
I confirm that I was able to battle the dqn agent using the embedded player; here is the exact code (up to the username) that I used:

[code]

My virtualenv runs python 3.6 with the following pacakges:

[code]

[2020-05-10 00:43] Gummygamer commented on #43
It worked just fine! It was the way I called the coroutine, it seems.

[2020-05-10 00:43] #43 closed

[2020-05-13 06:41] mancho1987 opened #47 "Learning from replays"
Hey! This is amazing, thanks for what you are doing :)
I was wondering if you have considered adding an agent that has been trained on replays from great players, or implementing a tool to help us do it ourselves. It could be used as an opponent for our self-play trained agents, or also could be trained further with self-play (as was done for Alphastar if I am not mistaken)

[2020-05-13 07:12] hsahovic commented on #47
Hi @mancho1987!

Thanks for opening this issue.
Right now, there is no specific utility designed to learn from external battle replays. However, if you have access to a sufficiently large set of showdown replays, you could use the logs to _simulate_ a battle directly in `poke-env` with minimal code changes, and train a model based on that.

Basically, when `poke-env` receives a message from showdo

[2020-05-13 15:41] mancho1987 commented on #47
It does clarify things :) I will give it a go when I have a chance. Btw, have you trained any agents? How did they perform?

[2020-05-13 21:45] hsahovic commented on #47
I have a couple agents performing a bit better than the example agents (something like ~75 wr against the example `MaxDamagePlayer`), but nothing much better than that for now. For the time being, I'm focusing on team building.

There are a couple of groups working on the question tho: some have public repo, for instance [this project](https://github.com/nicolenair/poke-env) or [this one](https://

[2020-05-16 03:35] #47 closed

[2020-05-17 10:04] szymonWojdat opened #49 "Doubles support"
I started messing around with doubles and managed to successfully play a couple of turns but before I proceed with this, I think it's important to decide in which direction do we want to go with this design-wise as there's a couple options:

1. Create `DoubleBattle` class that extends `Battle`, same with `DoublesPlayers` that extends `Player`
2. Make backwards-incompatible changes to `Player` and

[2020-05-17 10:16] hsahovic commented on #49
Hi @szymonWojdat!

Thanks for opening this issue.
That is a hard one, and I am not sure which direction we should follow. Could you send me what you have right now, so I could take a look at the scale of changes supporting doubles would introduce?

Either way, I think that we should discuss this extensively before jumping into implementation. Let's switch to Discord to arrange a call and next step

[2020-05-21 23:19] hsahovic commented on #49
We talked with @szymonWojdat and a couple of other developers regarding the next steps on this project.

We concluded that the first thing to do was to separate `Battle` objects between `AbstractBattle` and `Battle` (which could be seen as a singles-oriented object, and could be completed with a similar doubles-oriented object).

After that, we'll do something similar with `Player` objects in orde

[2020-07-08 02:49] thatCode-Psy opened #55 "Logging final reward for interval"
I am looking for a way to grab the final average reward of an interval to be used for graphing performance over time. Looking through the code I do not see anything that returns that specific value without manually calculating from each time reward is calculated.

[2020-07-08 08:47] hsahovic commented on #55
Thanks for opening this issue! There is currently no built-in utility to compute the average reward per episode.

You could either:

- Compute it manually during training (I suppose that some RL frameworks also do this automatically for you)
- Implement a suitable mechanism in `poke-env` directly. If you were to do this, do not hesitate to open a PR!

If you want, I can provide an example training

[2020-07-18 14:40] hsahovic commented on #55
I'm going to let this issue open a couple more days.

[2020-07-18 17:16] thatCode-Psy commented on #55
Whoops, I forgot to post that I decided to go with the former solution and got that implemented.

[2020-07-19 13:00] #55 closed

[2020-08-03 23:10] cjyu81 opened #58 "ValueError when running rl_with_open_ai_gym_wrapper"
I am up to date with the master branch of Keras and Keras-RL. I used the two commands
pip install git+git://github.com/wau/keras-rl2.git --upgrade --no-deps
pip install git+git://github.com/fchollet/keras.git --upgrade --no-deps

However, when running python rl_with_open_ai_gym_wrapper.py, I get:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Users\14086\anaconda3\env

[2020-08-03 23:18] cjyu81 commented on #58
Whenever I run the command, a new battle opens in my local server, but the bots don't make any moves; it's eternally "Waiting for players..."

![image](https://user-images.githubusercontent.com/39837939/89236267-e87bc600-d5a4-11ea-8142-0b1662f1766a.png)

[2020-08-03 23:33] hsahovic commented on #58
Hey @cjyu81 ! Thanks for opening this issue.

[keras-rl2](https://github.com/wau/keras-rl2) requires `tensorflow==2.1.0`.

Can you run:

[code]

And see if that helps?

[2020-08-03 23:37] hsahovic commented on #49
@szymonWojdat's branch is ready for review, up to some missing tests.

We are also working with @dmizr to incorporate some of his work. Our goal is to publish version `0.4.0` with double support in August.

[2020-08-03 23:45] cjyu81 commented on #58
I uninstalled tensorflow(it was 2.1.0) and reinstalled as you said but it didn't fix the problem.

[2020-08-04 00:03] hsahovic commented on #58
After doing some experimenting in a fresh environment, I realized that this is actually a problem we encountered before: it looks like the latest version of `keras-rl2`, version `1.0.4`, is not fully backward compatible with version `1.0.3`.

Reverting to version `1.0.3` should solve the problem. Running the following:
[code]
Should do the trick.

Let me know if you are able to run the example wit

[2020-08-04 00:32] cjyu81 commented on #58
Yes, the re installation solved the problem!

[2020-08-04 00:32] #58 closed

[2020-08-17 17:32] cjyu81 opened #62 "Invalid authentication tokens and Unimplemented error"
When running cross_evaluate_random_players, I initially received the invalid authentication token error. I thought this was an error with the default random player accounts so I replaced them with accounts I registered myself. I edited the file as shown below

`
#players = [RandomPlayer(max_concurrent_battles=10) for _ in range(3)]

players =[RandomPlayer(player_configuration=PlayerConfiguration("

[2020-08-17 17:40] hsahovic commented on #62
Hey @cjyu81,

Thanks for opening this issue.

Are you trying to connect to showdown's servers, a local custom server or the recommended optimized server?

Are you passing a custom `ServerConfiguration` object?

[2020-08-17 17:59] cjyu81 commented on #62
I am trying to connect is to a local server(localhost:8000). I have not edited ServerConfiguration

[2020-08-17 18:25] hsahovic commented on #62
Are you running [smogon's](https://github.com/smogon/pokemon-showdown) version of showdown or [this one](https://github.com/hsahovic/poke-env)?

[2020-08-17 19:13] cjyu81 commented on #62
I have been running smogon's version with the "node pokemon-showdown" command. How do I run your version of the showdown server?

[2020-08-17 19:24] hsahovic commented on #62
@cjyu81 you can follow [these instructions](https://poke-env.readthedocs.io/en/stable/getting_started.html#configuring-a-showdown-server) to setup the custom server: the main difference with the official server is that it gets rid of a lot of rate limiting, so you can run hundreds of battles per minute.

That being said the examples should work with the official implementation if you are using aut

[2020-08-17 23:07] cjyu81 commented on #62
Running your version of showdown fixed the problem. Thank you for the help!

[2020-08-17 23:07] #62 closed

[2020-08-17 23:10] hsahovic commented on #62
Great, I'm glad it fixed your issue! I'll take a deeper look at this though, as it might have a deeper cause.

[2020-08-18 00:26] hsahovic commented on #62
It looks like showdown added `t` messages in battles; PR #63 should fix this issue.

[2020-09-12 23:31] AFumis opened #65 "parsing error on showdown-format teams without items"
Teambuilder class doesn't work with showdown-format teams when a Pokémon doesn't have items. Same team functioned properly when adding an item to each Pokémon.

Log:
[code]

Code that generated error:
[code]

[2020-09-13 14:01] hsahovic commented on #65
Hey @AFumis! Thanks for opening this issue. I'll get a fix ASAP.

[2020-09-13 14:27] hsahovic commented on #49
PR #64 includes @szymonWojdat work into the main repo. Once merged, we'll proceed with additional tests before merging it into master.

[2020-09-16 00:18] #65 closed

[2020-09-24 10:47] dependabot-preview[bot] opened #72 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/hsahovic) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/hsahovic/update-logs/48596025).

[2020-09-27 10:35] lolanchen opened #73 "Calling the gym-env by name"
Hi Haris! First of all thank you for putting in the effort of making poke-env.

I run your `rl_with_open_ai_gym_wrapper.py` and tried a bunch of other RL algorithms in keras-rl2 on the `play_against` method and they worked just fine.

Then naturally I would like to get poke-env working on other newer and better maintained RL libraries than keras-rl2.
I tried to get [RLlib](https://docs.ray.io/en/l

[2020-09-27 15:52] hsahovic commented on #73
Hey @lolanchen !

Thanks for opening this issue. Revamping the gym API is next on the project todo list, after doubles support (#71).

I'll take a deeper look at RLlib's api and examples later today and let you know if I think of a workaround.

[2020-09-27 16:02] lolanchen commented on #73
Thanks for the prompt reply.
Among all the python RL libraries I know, RLlib seems to be the most feature-rich and well-maintained, so it’d really nice if poke-env works with it.
Meanwhile I’ll try if I can get any other RL libraries, like stable-baselines, to work with poke-env.

[2020-09-27 23:56] hsahovic commented on #73
I was able to run this adapted version of the `SimpleRLPlayer` example code with `RLlib`:

[code]

Let me know if this workaround works for you!

Regardless, please do not close this issue, as I would like to come back to it once #71 is done - there is a lot of work to do to make this kind of experiments easier to run :)

[2020-09-28 10:23] #72 closed

[2020-09-29 11:00] lolanchen commented on #73
Hey!
Sorry for the late reply. I got caught in the new semester and some trouble with my remote server.

Your code does run on my server and by modifying the range in `ray_trainning_function`, I ran PPO for 10 iterations (that is 10*1000 steps as step/iteration is 1000 in the default config)
The resulting `episode_mean_reward` is pasted below
[code]
which is really hard to tell whether the agent i

[2020-09-29 11:39] hsahovic commented on #73
Hey @lolanchen,

Thanks for keeping me posted!
I think that the first parameter you should tune is gamma: the keras rl example has a relatively small value, which leads to a more greedy policy that is a lot easier to learn than a higher value which would need to learn long term dependencies - if I recall correctly, RLlib uses .99 as its default value.

[2020-09-29 12:20] lolanchen commented on #73
@hsahovic

Yes, just changing `config["gamma"] = 0.5 ` raise the win rate against Random after 10 iteration to 76%
But interestingly the mean reward dropped to around 15, compared to 22+ when gamma was 0.99.

Thanks a lot for all the advice! I'll try to play more with the parameters tomorrow.

[2020-10-15 14:25] pablovin opened #75 "Running the RL code: element not in graph"
Hi there!

Thanks for this great resource, it looks super nice!

I am trying to run the " rl_with_open_ai_gym_wrapper.py " code, but I am facing this error:

ValueError: Tensor Tensor("dense_2/BiasAdd:0", shape=(None, 22), dtype=float32) is not an element of this graph.

I am running it with the newest tensorflow-gpu version and the keras-rl2

Any idea what this might be?

Cheers,

Pablo

[2020-10-15 14:44] hsahovic commented on #75
Hey @pablovin,

Thanks for opening this issue. We had some issues with keras-rl versions, and I suspect that this is what you're up against. Updating the examples with another RL library is planned.

Can you try installing version `1.0.3` of keras-rl (`pip install keras-rl==1.0.3`)?
If that does not work, let me know and please add a `git freeze` export.

Best,
Haris

[2020-10-15 15:24] #75 closed

[2020-10-16 17:44] mancho1987 commented on #73
Hey @lolanchen,

Did you manage to make it work with other RL libraries?

[2020-10-17 02:26] lolanchen commented on #73
@mancho1987
I haven’t tried any others since RLlib has been working just fine for me. Tell me what you are trying to use, maybe I can help testing that. :)

[2020-10-17 08:15] mancho1987 commented on #73
@lolanchen thanks for the fast reply :) I am just starting in RL so my knowledge is quite limited. I found acme from deepmind, and was wondering if it could be used here, but after checking RLlib seems to me that there is no need for acme. I will try it with RLlib as mentioned in the posts above to see if I can make it work :) btw, what features are you selecting? I read about embeddings, are they

[2020-10-17 15:57] mancho1987 opened #76 "Having trouble running the agent"
Hi,

When I run rl_with_open_ai_wrapper.py I get  TypeError: len is not well defined for symbolic tensors. Please call 'x.shape' rather than 'len(x)'.
I tried changing tf versions but can't make it work.

[2020-10-17 17:24] hsahovic commented on #76
Hi @mancho1987,

Thanks for opening this issue.
I suspect that you are facing something similar to #75, with maybe a tensorflow version issue on top of it.
Can you try installing `keras-rl2==1.0.3`, updating you tensorflow version and see how it goes?

[2020-10-17 18:07] mancho1987 commented on #76
Thanks, that worked! Wish I could have solved it so easily, was trying for quite a bit haha :)

[2020-10-18 23:15] #76 closed

[2020-10-19 19:42] mancho1987 opened #78 "Training the agent against 2 or more opponents + Max moves are stored and shouldn't"
Hey Haris,
I would like to train the agent against more than one opponent, but can't figure out how.
Also, how could I make it train against itself and previous saved versions of it?

[2020-10-19 19:52] pablovin opened #79 "Not Implemented Error when playing against humans"
Hi,

I am trying to connect an agent to play against humans. The function: player.send_challenges is not working, but the accept_challenges works nicely.

When the battle starts, tho, I get this error message:

Traceback (most recent call last):
  File "/home/pablo/Documents/Workspace/PokeEnvGYM/venv/pokegym/lib/python3.6/site-packages/poke_env/player/player_network_interface.py", line 152, in _ha

[2020-10-19 20:02] pablovin commented on #73
Hi all,

I was able to run the Stable_Baselines (https://stable-baselines.readthedocs.io/en/master/index.html) examples with some small changes:

[code]

What I am trying to do now is to train an agent and use it to play against humans on the shadow server. I am facing some problems when starting the game, but I am still not sure how to use a loaded agent to select moves. I am thinking of loading

[2020-10-19 20:23] pablovin commented on #73
A quick updated, I checked the closed issues and I got my answer there, I would implement the choose_move like that:

[code]

in case anyone is looking for it :)

[2020-10-19 23:25] hsahovic commented on #79
Hi @pablovin,

Thanks for opening this issue.
The latest release of poke-env is not up to date with showdown. That wouldn't have been a problem in most situations; however, showdown recently introduced a couple of protocol updates which are causing the issue you are encountering.
I have a local version of poke-env that's compatible with this updated protocol. My plan was to wait for the doubles PR

[2020-10-19 23:28] hsahovic commented on #78
Hi @mancho1987,

Thanks for opening this issue.
I have a snippet somewhere that's doing precisely that - I'll try to find it tomorrow.

What is the precise behavior you'd like to setup?

Best,
Haris

[2020-10-20 10:11] mancho1987 commented on #78
Thanks for the quick reply @hsahovic!

I would like to try something like what they did for Alphastar, in which it trained against not just itself, but various opponents in a league.
So for example, it would train first against random_player for 10000 steps, then against max_damage_player, and then against itself. This would be the initial setup, then I will build on it.

[2020-10-20 11:28] pablovin commented on #79
Hi @hsahovic,

thanks for the prompt response!
I got it. Let me know when I can update on my end.

Cheers,

Pablo

[2020-10-20 12:49] hsahovic commented on #78
If you want to have several training sequences against different opponents, one simple approach would be to call your training function several times with these different opponents, ie.:

[code]

The next step would probably be including some custom logic in the way your training goes from one opponent to another.

If you want to get fancy, you can also create a custom training player that can alt

[2020-10-20 14:51] mancho1987 commented on #78
@hsahovic  Thanks helpful, thanks!
In the case of the dqn example it works perfectly, but I tried to do this loop for the ppo workaround you suggested in another issue, and it didn't work. After training against the first opponent it just stops. How could this be fixed?
I made a custom training player as well to compare the results. Will try it when the ppo multi training works :)
Btw, I want also

[2020-10-20 15:11] hsahovic commented on #78
Is any kind of arror logged after the training stops? If not, can you take a look at the battles going on locally (eg. on localhost) - is a battle with the second player starting and just hanging, or is it not even starting?

For the reward, you can define it however you want; the example implementation uses:

[code]

`reward_computing_helper` exists to make creating custom rewards easier - i'd re

[2020-10-21 01:31] hsahovic commented on #79
Oops, didn't mean to close the issue.

[2020-10-21 02:37] hsahovic commented on #79
I wanted to get this done today but I'll need to update all the underlying data files too (pokedex + moves), which I was not expecting. I'll try to do that tomorrow.

[2020-10-21 13:29] mancho1987 commented on #78
@hsahovic there is no error logged, it actually starts the first battle with the second opponent and just hangs there without making any moves.
Got it about the rewards, thanks!

[2020-10-22 00:37] hsahovic commented on #79
Version 0.3.7 is out and should solve your issue :) Update with `pip install poke-env==0.3.7` and let me know if everything works as expected!

[2020-10-22 10:09] pablovin commented on #79
Hi Haris,

It works like a charm! Thank you so much for taking the time to check this out!

cheers,

Pablo

[2020-10-22 12:56] #79 closed

[2020-10-27 00:16] hsahovic commented on #78
Hi @mancho1987,

Thanks for your patience. I uncovered an issue in `EnvPlayer`'s `reset` and `step` function, that are causing your issue. #82 should fix them shortly - I'll let you know when this is merged.

[2020-10-27 01:20] hsahovic commented on #78
Version 0.3.8 should fix this :) Try running `pip install poke-env==0.3.8` and let me know how it goes!

[2020-10-27 15:54] mancho1987 commented on #78
Hi @hsahovic,
It works perfectly now, thanks!
I wanted to ask a couple other questions:
- How do I get the base power of the opponent active moves? I am doing something like `for mon in opponent_team.values()
If mon.active:
For i, move in enumerate(mon.moves):
Opponent_moves_power[i] = move.base_power
`
But I get an error like str has no attribute base_power.
I would also like to get next all the

[2020-10-27 16:53] hsahovic commented on #78
Great, I'm glad to hear that!

- [`Pokemon.moves`](https://poke-env.readthedocs.io/en/stable/pokemon.html#poke_env.environment.pokemon.Pokemon.moves) is a `dict`: when you iterate over `mon.moves`, you iterate over the keys, not the `Move` objects; you need to replace that with `for i, move in enumerate(mon.moves.values())`. This should work the same for all mons.
- You can train models in the clo

[2020-10-28 14:39] mancho1987 commented on #78
Great! Thanks
Btw, does mon.moves store all the moves a mon has used? Seems to me that it is storing max moves as well as regular moves. Is there a way that I can access only the available moves that every mon has, without temporary ones like max moves?
Also, does mon stats include already the evs? I will try to make an agent for OU soon, and didn't find how to get the evs of each mon

[2020-10-28 14:55] hsahovic commented on #78
Oh, it definitely shouldn't be storing max-moves: that's a bug. I'll try to get a fix for that.

Regarding evs: it's not storing raw evs, but it's storing your mon's raw stats (which take into account evs, ivs, level, nature etc.). In the future, I plan to add an estimation of your opponent's stats as well, based on damage calculations, but for now only base stats are available.

[2020-10-29 22:56] Jay2645 opened #84 "moltresgalar isn't listed in Pokedex"
Seems like data/pokedex.json is missing an entry for moltresgalar and it's causing crash bugs whenever a game is started with Galarian Moltres in the list of Pokemon.

Is there a command I can run locally to force-fetch the Pokedex from the Showdown repo and have the .json files automatically placed in the proper locations? I see there's something along those lines in the `scripts` directory, but

[2020-10-29 23:43] hsahovic commented on #84
Hey @Jay2645,

Thanks for opening this issue. Yep, the current data files are [a couple days old](https://github.com/hsahovic/poke-env/commit/4e7cdf04a5f2f8470097ab9057e5e5ce8eaa5ce1) and have not been updated with showdown's latest releases. I was planning on updating them this weekend, but you can indeed use the scripts you found to do that manually (they output `out.txt` to allow comparisons be

[2020-10-30 03:04] Jay2645 opened #85 "What packages are needed to run rl_with_open_ai_gym_wrapper.py?"
To be specific, I'm running on Windows and I'm mostly curious what versions to use for the different imports in `rl_with_open_ai_gym_wrapper.py`.

`pip install rl` fails to even install on Windows due to requiring `sys/time.h`, which only exists on Linux. The replacement seemed to be `keras_rl`.

I initially was using Tensorflow 1.15.4, but I started getting `'tensorflow._api.v1.random' has no att

[2020-10-30 11:43] hsahovic commented on #85
Hi @Jay2645,

Thanks for opening this issue. As mentioned in [the docs](https://poke-env.readthedocs.io/en/stable/rl_with_open_ai_gym_wrapper.html), the `rl_with_open_ai_gym_wrapper.py` example recommends using `keras-rl2==1.0.3` with `tensorflow 2.X`.
I think some users have tested it on windows, so it should be fine :) Let me know if it works!

[2020-10-30 11:58] Jay2645 commented on #85
Hmm -- using `keras-rl2==1.0.3` and the version of Tensorflow it installs (`tensorflow==2.0.0b1`), I'm running into this error when compiling the dqn: `'tuple' object has no attribute 'layer'`. Seems to be a Tensorflow bug. I'll keep digging around to see if I can fix it on my end -- I'm sure there's something I'm probably missing.

[2020-10-30 12:01] Jay2645 commented on #85
Ah! Knew it was something stupid. I was using `keras.layers` instead of `tensorflow.keras.layers`. Closing.

[2020-10-30 12:01] #85 closed

[2020-11-02 00:07] hsahovic commented on #84
This should be fixed by release `0.3.9` :)

[2020-11-02 00:07] #84 closed

[2020-11-06 08:02] ZacDavis0-159910538 opened #87 "Installation Issue"
Hi! Cool Repository. I was following the installation guide for your custom server branch of Pokemon Showdown https://poke-env.readthedocs.io/en/stable/getting_started.html#installing-poke-env to start contributing/testing doubles.
However, when running: node pokemon-showdown, I got the following error:
Installing dependencies...
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@~2.1.2 (nod

[2020-11-06 10:54] hsahovic commented on #87
Hi @ZacDavis0-159910538,

Thanks for opening this issue. Which version of node are you running? Can you try upgrading it?

[2020-11-09 20:07] Jay2645 opened #88 "battle_tag is wrong for invite-only battles"
My AI kept randomly not doing anything in some battles, so I did some investigating.

Turns out these errors were being put into the log:

[code]

The root cause:
[code]

As you can see, the battle's "real" ID is `battle-gen8randombattle-1220084985-pgoxls8251t2qkotmilabhfhov3uhlepw`, but because of the way that the `battle_tag` is being split, the `battle_tag` is `battle-gen8randombattle-122008498

[2020-11-09 20:24] hsahovic commented on #88
Hey @Jay2645,

Thanks for opening this issue. I don't think the recent commits have changed anything in the way battle tags are parsed, since the battle tag extraction logic [has not changed in the last yearr](https://github.com/hsahovic/poke-env/blame/master/src/poke_env/player/player.py#L134). It might be a showdown update though. Regardless, I'll try to push a patch to fix this by tomorrow :)

[2020-11-09 20:27] Jay2645 commented on #88
I've never done an invite-only battle myself, but looking at the Showdown UI there's a new "Don't allow spectators" box under the "Search for battles" button. I'd assume that's what's causing this, and that's why I've seen an uptick in this sort of thing recently.

I agree that it's a little strange to get errors over PM -- my guess is that since Showdown doesn't know what room you're trying to se

[2020-11-09 20:32] hsahovic commented on #88
Well, thanks for crash testing this :) This is super valuable feedback; I'll fix the private-battle thing asap and take a deeper look at the PM errors.

Out of curiosity, what kind of performance are you getting with your bots?

[2020-11-09 20:51] Jay2645 commented on #88
I've been using your Showdown fork to train using a very heavily modified version of the OpenAI Gym example.

I've updated the neural net a bit (not sure if these settings are optimal -- it's my first time using ML outside of basic "hello world" stuff):
[code]

The input has also been expanded from 10 inputs to about 1500 or so. It stores as much information as I can get about every known Pokemon,

[2020-11-09 20:54] Jay2645 commented on #88
I guess while we're on the topic of errors -- and this is more of a feature request (I can put it in another ticket if needed) -- would it be possible to throw an exception when we're being rate limited? [This is the Showdown code](https://github.com/smogon/pokemon-showdown/blob/b0c2f03f41345d13ca35c1aaed27846eba0b1cd7/server/users.ts#L1388):

[code]

IIRC, right now that `raw` tag is being handle

[2020-11-09 21:17] hsahovic commented on #88
Great work on the DQN! You might be interested in using [this agent](https://github.com/hsahovic/poke-env/blob/master/src/poke_env/player/baselines.py#L16) during training, if you're looking for something stronger than the max damage player.

I can a look at the rate limiting issue too.

[2020-11-09 23:37] hsahovic commented on #88
I haven't been able to reproduce the issue you encountered with invite only battles; there has been two commits to showdown which involve them since my local showdown fork was updated though, so it might come from there.
Regardless, #89 and version 0.3.10 should fix this issue as long as the battle tags have the same structure as you quoted above.

Let me know if it persists!

Regarding the other

[2020-11-09 23:39] Jay2645 opened #90 "Handle errors sent over PM"
In some cases, Showdown can send errors through PMs -- this usually seems to happen if it can't identify the room you're trying to send the message in:

[code]

[2020-11-09 23:40] Jay2645 opened #91 "I guess while we're on the topic of errors -- and this is more of a feature request (I can put it in another ticket if needed) -- would it be possible to throw an exception when we're being rate limited? [This is the Showdown code](https://github.com/smogon/pokemon-showdown/blob/b0c2f03f41345d13ca35c1aaed27846eba0b1cd7/server/users.ts#L1388):"
Feature request -- would it be possible to throw an exception when we're being rate limited? [This is the Showdown code](https://github.com/smogon/pokemon-showdown/blob/b0c2f03f41345d13ca35c1aaed27846eba0b1cd7/server/users.ts#L1388):

[code]

IIRC, right now that `raw` tag is being handled in [battle.py](https://github.com/hsahovic/poke-env/blob/46438b0c260956e2a1cdb6a4d344628207fa9eb1/src/poke_en

[2020-11-09 23:41] Jay2645 commented on #88
Done -- `/error` in PMs is #90; rate limits is #91.

[2020-11-10 01:48] Jay2645 commented on #88
Tried latest out and it seemed to work!

[code]
Closing this ticket. 🥇

[2020-11-10 01:48] #88 closed

[2020-11-13 15:21] pablovin opened #93 "Publication"
Hi Haris,

I am preparing a publication where I use the environment to evaluate a personalization scheme for RL. Do you have any publication I can cite for the environment and/or baseline results?

Otherwise, I would link the github page.

Cheers,

Pablo

[2020-11-14 18:11] hsahovic commented on #93
Hi @pablovin,

Thanks a lot for this proposal! As this project is still under development, there's no paper to cite yet.

I would suggest something like this, if this works on your end:

[code]

[2020-11-14 21:59] mancho1987 opened #94 "Opponent pokemon have no stat values"
Hey Haris,

I wanted to use as features the stat values of both the agent mons and the opponent mons, but the opponent mons have no stat values. Then I tried with the base stats, which they do have, but their level always shows 100 and not the actual one, so I couldn't make the calculations of their stats.

[2020-11-14 22:54] hsahovic commented on #94
Hey @mancho1987,

Thanks for opening this issue.
For `stats`, it makes sense: we don't have access to the opponent's stats; I plan on integrating some logic to try to deduce them, but it won't happen anytime soon. `baseStats` should be accurate; I'll investigate for `level` and try to push a fix tonight.

[2020-11-15 00:10] hsahovic commented on #87
Hey @ZacDavis0-159910538, any update on this? Have you been able to make it work?

[2020-11-15 00:32] hsahovic commented on #94
This should be fixed by version `0.3.11`. Let me know if it works on your end!

[2020-11-15 07:42] mancho1987 commented on #94
Thanks, I'll check it a bit later and let you know :)
About stats, its true, but maybe for random battles a reasonable assumption could be made? If I am not mistaken, almost every set is a neutral nature and 85 evs in each stat, then the formula is quite simple

[2020-11-15 19:58] mancho1987 commented on #94
Tried it and it works, thanks 👍

[2020-11-15 21:24] hsahovic commented on #94
Great! I'm closing :)

Regarding stats, that's an option - that being said, I won't implement stats deduction before at least a couple of weeks.

[2020-11-15 21:24] #94 closed

[2020-11-15 23:05] hsahovic commented on #49
Done with #86.

[2020-11-15 23:05] #49 closed

[2020-11-15 23:24] abhilashpandurangan opened #96 "Loading RL Agent from saved model"
Is there any way to load RL player from saved model?

[2020-11-15 23:38] hsahovic commented on #96
Hi @abhilashpandurangan,

Thanks for opening this issue.
Saving and loading RL models will take different forms depending on the framework you are using.

If you are referring to the example in the documentation (which uses `keras-rl`), you can use [`load_weights`](https://keras-rl.readthedocs.io/en/latest/agents/overview/#load_weights) and [`save_weights`](https://keras-rl.readthedocs.io/en/lates

[2020-11-15 23:59] hsahovic commented on #78
This should be fixed in version `0.4.1`.

[2020-11-15 23:59] #78 closed

[2020-11-16 14:22] pablovin commented on #93
Hi Haris,

Awesome! It works greatly! I will finish the paper up and if you want, I can share it here with you later on.

Thanks again for this great environment :)

Cheers,

Pablo

[2020-11-16 14:27] hsahovic commented on #93
Thank Pablo! I'd love to read it when it's ready :)

[2020-11-17 11:59] #87 closed

[2020-11-17 11:59] #96 closed

[2020-11-17 17:03] Auxowave opened #98 "retrieve max-move power corresponding to move"
First of all, thanks for adding doubles support! I'm working on a VGC format playing AI so this is amazing.

I have a question, is there a way to retrieve the power of a max-move? For example for a MaxDamagePlayer, how can the agent check the power of its max moves?

[2020-11-17 17:21] hsahovic commented on #98
Hey @Auxowave,

Thanks for opening this issue! I'm glad to hear you're excited about doubles :) Be advised that support for doubles is preliminary and most of the tooling I want to implement for doubles is still missing, so things might be a bit rough around the edges.

There's no method to retrieve the power of a max-move - yet. I can implement it if it's high priority on your end.

Alternatively

[2020-11-17 18:02] Auxowave commented on #98
Hi,

It's not high priority so no need to implement it, merely a convenience. What you're linking to in showdown's implementation is basically exactly what I'm looking for, so thanks a bunch!

[2020-11-17 18:04] hsahovic commented on #98
Great. I'm going to add this to my longer-term to do list then :)

[2020-12-01 07:39] caymansimpson opened #101 "double_battle.available_moves"
double_battle.available_moves doesn't return struggle in cases where a choice-item locked pokemon runs out of PP

[2020-12-01 10:53] hsahovic commented on #101
Hi @caymansimpson,

Thanks for opening this issue. I'll try to get a fix this week :)

[2020-12-02 23:50] hsahovic commented on #101
Hey @caymansimpson,

I've haven't been able to reproduce this issue. In doubles, I've pitted two `RandomPlayer`s, both using the following team:

[code]
I displayed `battle.available_moves` for each move choice. I do see struggle popping up (printing `battle.available_moves` displays `[[splash (Move object)], [struggle (Move object)]]`) when the pp are out, and the battle finishes as expected with

[2020-12-10 10:38] mancho1987 opened #102 "Training agent using gpu"
Hi,

Is it possible to train the agent using gpu?

[2020-12-10 11:03] hsahovic commented on #102
Hi @mancho1987,

You can use GPUs to train models used by agents, but the specifics will depend on your specific choices of algorithm and computing framework.
That being said, you will still have a sizable cpu overhead consisting of node + the python client.

[2020-12-10 17:46] mancho1987 commented on #102
Thanks for the answer! Could you please give me an example as how it would be done in the dqn agent example you provide?

[2020-12-10 21:59] hsahovic commented on #102
My understanding is that `keras-rl2` uses `tensorflow.keras` under the hood, so if your installation of `tensorflow` takes advantage of your gpu (eg. you installed `tensorflow-gpu` and all the relevant nvidia libraries), the dqn agent example should use your gpu for training and inference without requiring any code modification.

[2020-12-13 17:09] attraylor opened #103 "Gen 7 megas broken on switch"
Once a Pokemon mega-evolves and then switches back in the order crashes:

2020-12-08 16:20:49,439 - Random player - WARNING - Error message received: |error|[Invalid choice] Can't switch: You do not have a Pokémon named "latiasmega" to switch to
Traceback (most recent call last):
  File "examples/BigBoy/pytorch_gym.py", line 448, in <module>
    env_algorithm_kwargs={"nb_steps": NB_TRAINING_STEPS}

[2020-12-13 22:41] hsahovic commented on #103
Hey @attraylor,

Thanks for opening this issue. I'll look into it and try to get a patch sometime this week :)

[2020-12-16 03:53] rahul-dev-app opened #104 "Raise an error when invalid move is selected"
Hey, amazing work with the library!

I have a question about Gen8EnvSinglePlayer class. In the _action_to_move function, if an illegal move requested a random move is implemented. Instead of implementing a random move, I want to raise a warning flag and retain the game state. Any thoughts on how I can implement that?

Thanks a lot in advance!

[2020-12-16 10:26] hsahovic commented on #104
Hi @rahul-dev-app,

Thanks for opening this issue.
I think the way to go would be to modify the `_action_to_move` method to achieve what you want to do. In your case, that would just entail modifying the [last `else` branch](https://github.com/hsahovic/poke-env/blob/ed278982a6b2dab68a9eef6fe3b112ffbea4c946/src/poke_env/player/env_player.py#L507) in your player class - you can pretty much keep the

[2020-12-16 16:02] Auxowave opened #105 "Error connecting agent to showdown server"
Hi, when I try to connect my player to the online pokemon showdown server I get the following error:

"""
2020-12-16 16:53:24,751 - Auxobot - CRITICAL - Unhandled message: |queryresponse|debug|true

2020-12-16 16:53:24,752 - Auxobot - ERROR - Unhandled exception raised while handling message:
|queryresponse|debug|true
Traceback (most recent call last):
  File "C:\XXXX\XXXX\XXXX\XXXX\XXXX\Python\Py

[2020-12-16 18:41] hsahovic commented on #105
Hey @Auxowave,

Thanks for opening this issue. I'll look into this tonight and push a fix asap.

[2020-12-16 21:19] hsahovic commented on #105
This should be fixed by #105. I'll release `0.4.4`, with the fix, later tonight.

[2020-12-16 21:49] Auxowave commented on #105
Awesome

[2020-12-16 22:02] hsahovic commented on #103
I've looked into it, first with `RandomPlayer`, then using the gen 7 example rl script, without any issue. I confirmed that the rl player played games where it mega-evolved and switched out and in its mega several times.
Is your code modifying the way species and / or move creation is managed?

[2020-12-16 22:20] hsahovic commented on #105
Done! `pip install poke-env==0.4.4` should do the trick :)

[2020-12-16 22:20] #105 closed

[2020-12-17 02:54] rahul-dev-app commented on #104
Hey @hsahovic! Thanks for the prompt response!

Yes, I was looking at modifying the else condition for the `_action_to_move function`. Wouldn't `raise ValueError()` raise an error and stop the battle at that state? I want the battle to continue ensuring we make a legal move not a random one. How can I do that?

Sorry if I was not being specific earlier about what I wanted and I really appreciate y

[2020-12-17 10:53] hsahovic commented on #104
Yes, raising an error would stop the battle (or rather, leave it hanging until the process is closed).

`choose_random_move` should always return a legal move - that's why it's used here in the first place. If you want to choose something smarter if the returned action is illegal, you can either:
- use a built-in `Player`'s choose move function (eg. `return poke_env.player.baselines.SimpleHeuristi

[2020-12-17 10:53] #102 closed

[2020-12-17 10:54] hsahovic commented on #101
Closing this for now - feel free to reopen it if you have a snippet to reproduce it :)

[2020-12-17 10:54] #101 closed

[2020-12-20 22:59] awx1 opened #107 "gen5 support"
Could you add support for gen5, I'm interested in applying reinforcement learning to specifically gen5 random battles!

[2020-12-20 23:23] hsahovic commented on #107
Hey @awx1,

I'll look into it sometime this week - depending on how it goes I might add gen 5 support.

[2020-12-21 12:12] bubloo7 opened #108 "Timer"
Is it possible to turn on timer? When my bot plays on the ladder, my opponent sometimes just leaves.

[2020-12-21 15:35] hsahovic commented on #108
Hey @bubloo7,

Yes, I was planning on doing like that - I'll try to get it out this week.

[2020-12-21 15:36] hsahovic commented on #107
@awx1 I took a first look at it yesterday - it looks like it should be doable without too much effort. I'll try to get gen 5 (as well as gen 4 and 6) support out sometime this week.

[2020-12-21 21:58] bubloo7 commented on #108
okay thank you!

[2020-12-22 01:07] hsahovic commented on #107
Version `0.4.5` is out with preliminary gen 4, 5 and 6 support.
The current test coverage only accounts for random battles. This has been done quite quickly, so things might go sour - if you encounter a problem with these formats don't hesitate to open a new issue!

[2020-12-22 01:07] #107 closed

[2020-12-22 18:22] mancho1987 opened #110 "Hazard layer amount"
Hi,

How can I get the number of layers of each specific entry hazard?

[2020-12-22 20:34] hsahovic commented on #110
Hi @mancho1987,

Thanks for opening this issue. Right now, this is not implemented.
I will take a look at some relevant battle logs sometime this week and get back to you.

[2020-12-23 01:59] caymansimpson opened #111 "Disabled Moves"
Is there a way to understand whether a move is disabled (like through disable or taunt)? Obviously low priority to support since these are situational - but these would definitely help limit exploration/problem space!

[2020-12-23 10:40] hsahovic commented on #111
Hi @caymansimpson,

The `Battle` object has an `available_moves` property, which does not contain moves that are flagged as disabled by showdown. I believe this flag factors, among other things, both disable and taunt.

[2020-12-23 13:54] mancho1987 commented on #110
Great, thanks :)
Also, is there a way to get if the mon is locked into a move like outrage?

[2020-12-24 00:45] hsahovic commented on #110
If your pokemon is locked into a move, `Battle.available_switches` will be empty and `Battle.available_moves` will only contain one move. Additionally, if showdown indicates that your pokemon is trapped, `Battle.trapped` will be `True`.

[2020-12-24 02:07] hsahovic commented on #108
@bubloo7 version `0.4.6` adds an utility to request the timer at the start of each battle.
You just need to `pip install poke-env==0.4.6` and set `start_timer_on_battle_start` to `True` when creating `Player` objects (or `Player` child classes objects).

[2020-12-24 02:56] hsahovic commented on #110
Version `0.4.7` takes care of counting `SideCondition`, which includes spikes, toxic spikes, and other similar moves.

Before `0.4.7`, `Battle.side_conditions` and `Battle.opponent_side_conditions` were `set`s of `SideCondition` objects. Now, they are `dict`s whose values correspond to the number of layers in place. For instance, you can now use `battle.opponent_side_conditions.get(SideCondition.S

[2020-12-24 02:57] #108 closed

[2020-12-24 02:57] #110 closed

[2020-12-24 03:59] bubloo7 commented on #108
Works great. Thank you!

[2020-12-24 05:02] bubloo7 opened #114 "Websockets Connection Closed Error"
I keep getting the following error when I run the bot for long periods of time on the official showdown website.
`websockets.exceptions.ConnectionClosedError: code = 1006 (connection closed abnormally [internal]), no reason`
I googled the issue and found [this](https://stackoverflow.com/questions/54101923/1006-connection-closed-abnormally-error-with-python-3-7-websockets) and was wondering if you

[2020-12-24 06:03] #114 closed

[2020-12-24 06:04] bubloo7 commented on #114
sorry I made a mistake in my code oops

[2020-12-24 14:23] hsahovic commented on #114
Out of curiosity, what was the error that caused this?

[2020-12-29 23:49] bubloo7 commented on #114
I think it kept spamming the server with illegal moves like switching to a pokemon that was already dead which made the WebSocket close.

[2020-12-29 23:52] #103 closed

[2020-12-29 23:53] #104 closed

[2020-12-30 02:14] #111 closed

[2020-12-30 02:43] caymansimpson opened #115 "Question: Reward Buffer"
Sorry for all the questions - let me know if there's a better forum to raise these!

What's the point of self._reward_buffer? https://github.com/hsahovic/poke-env/blob/f16d70e8b80e2c880170730d9b6ef9c61c2b6bf2/src/poke_env/player/env_player.py#L236-L263

It seems like self._reward_buffer's only purpose (when starting_value=0) is to disincentivize visiting the same state again (by setting the reward

[2020-12-30 03:01] hsahovic commented on #115
Hey @caymansimpson,

No problem with questions - they are welcome :)
The `reward_computing_helper` method's goal is to compute a reward for the last action you took. To do so, it scores the state of the battle and compares that score with the score of the previous state: the reward is the difference between these scores. Therefore, if your last action made the state better, it will have a positive

[2020-12-30 06:43] caymansimpson opened #116 "Team Preview for VGC"
First, thank you for all the documentation, especially [here](https://poke-env.readthedocs.io/en/stable/ou_max_player.html)!
How does `teampreview()` operate in doubles (specifically VGC, when we're supposed to return only 4 out of the 6 mons)? I copied your `MaxDamagePlayer` and [adapted it to VGC](https://github.com/caymansimpson/reuniclusVGC/blob/main/bots/max_damage_player.py#L89-L104). Howeve

[2020-12-30 13:21] hsahovic commented on #116
Looking at [smogon's simulator protocol](https://github.com/smogon/pokemon-showdown/blob/master/sim/SIM-PROTOCOL.md#possible-choices), I would try restricting your choice to only four pokemons ie. `/team 3524`.

I would expect `3524` to result in a Swampert / Celesteela lead with Dragapult and Clefairy in the back. If the issue persists when choosing four pokemons, please let me know and if possib

[2020-12-30 21:20] caymansimpson commented on #116
That works - your intuition is right!

[2020-12-30 21:20] #116 closed

[2020-12-30 22:24] #115 closed

[2021-01-15 19:35] mancho1987 opened #117 "Protect"
Hi,

Is there a way for the agent to know if it used protect in the previous turn, so it learns to not use it many times in a row? Also for moves like first impression and fakeout.

Thanks!

[2021-01-15 21:45] hsahovic commented on #117
Hi @mancho1987,

Thanks for opening this issue.
These and a couple of other related features are planned in my next series of `poke-env` update, adapted from work done by @dmizr on his fork. I'm not sure when it will be released fully - probably sometime in the next two weeks? If one of these is a priority on your end, I can try to get it out first.

Best,
Haris

[2021-01-16 08:44] mancho1987 commented on #117
Awesome! If protect and max guard could be first I will appreciate it a lot.

[2021-01-20 02:36] dpmaloney opened #119 "Self-play support/implementation?"
Has there been any development regarding self-play for learning/training, and/or has anyone successfully gotten it to work w this env? I tried some implementations but it seemed to struggle w the choose_move function for some reason. Any help would be greatly appreciated!

[2021-01-20 11:04] hsahovic commented on #119
Hey @dpmaloney,

Thanks for opening this issue.
There are two answers here:

- The first one is that the current structure of the gym api backend makes direct self play more difficult than it should. There are updates in the works to fix that, but it will take some time.
- The second one is that you circumvent this by 1) training against a model-based opponent 2) regularly updating your opponent's

[2021-01-20 16:51] dpmaloney commented on #119
Sounds good! I’ve been doing something similar so far but thank you for confirming that I’m not missing something big! I’m gonna explore some implementations of self-play with other gym env’s and I’ll see if I can come up w a solution!

[2021-01-20 16:55] hsahovic commented on #119
Thanks!
If you have a specific api or env in mind that could be used as an example of what you'd like to see in `poke-env`, I'd be happy to take a look at it :)

[2021-01-23 01:15] caymansimpson opened #120 "Potential Parsing issue for VGC"
Hey @hsahovic - I'm reformatting my work to build off your implementation of BattleOrder (link to [my fork](https://github.com/caymansimpson/poke-env/blob/master/src/poke_env/environment/double_battle.py)). The issue seems to be coming from

Is this expected?

[code]

Here's the trace:
[code]

[2021-01-23 01:17] hsahovic commented on #120
Hey @caymansimpson,

Thanks for opening this issue. I've never seen this `g` before; which version of showdown are you using? Do you know if it has a special meaning?

[2021-01-23 22:14] caymansimpson commented on #120
I'm using the same version as in your fork - I'll dive a bit deeper because this is pretty peculiar

[2021-01-24 11:55] hsahovic commented on #120
Is this happening systematically (eg. easy to reproduce?) or is it a one-time thing?

[2021-01-24 21:29] caymansimpson commented on #120
I've put in a patch to fix it (remove the last character of the HP string if it can't be coerced to an int) to unblock myself - but this is fairly reproducible - it looks to trigger when I use the move Whirlpool.

[2021-01-28 01:29] hsahovic commented on #120
This should be fixed in [this commit](https://github.com/hsahovic/poke-env/commit/1e7ac23619ebd869d47862a1b9edd12525eabdac); I am currently planning on releasing it with #121 when these changes are merged. I can release it earlier if you prefer to use the `pip` package instead of master / your fork.
Let me know what works best for you!

[2021-01-28 01:30] hsahovic commented on #117
Hey @mancho1987; this should be introduced in #121 along a couple of similar changes. I'll try to release it during the weekend :)

[2021-01-29 05:29] caymansimpson commented on #120
Do whatever's easiest for you - I'll update accordingly! Thanks for being so on top of these

[2021-01-29 05:29] #120 closed

[2021-02-18 07:24] alift99 opened #123 ""Your authentication token was invalid.""

[2021-02-18 09:10] #123 closed

[2021-02-22 17:33] darrenswhite opened #124 "Showdown team parser doesn't support gmax syntax"
**Summary**:
When using `Teambuilder#parse_showdown_team`, the nickname will be parsed incorrectly when parsing a gmax pokemon.

**Actual outcome**:
Nickname will be parsed as "Gigantamax: Yes".

**Expected outcome**
Nickname parsed as "Coalossal". Potentially a gmax flag set as True/False/None.

**Example**:
[code]

[2021-02-22 17:35] hsahovic commented on #124
Hey @darrenswhite,

Thanks for opening this issue, that's a good catch. I'll try to get a fix out tonight.

[2021-02-22 17:36] darrenswhite commented on #124
Thanks @hsahovic . If you're busy I can always create a PR :)

[2021-02-22 17:45] hsahovic commented on #124
Up to you! I have a lot of local changes I need to integrate regardless, so it's not a big deal to add a quick fix for this. If you prefer to do it / already have it feel free to open one, I'll merge it tonight :)

[2021-02-23 02:20] #124 closed

[2021-02-23 02:21] hsahovic commented on #124
This is now merged into master. Are you using the `pip` pickage (in which case I can release a new version with this so you just need to upgrade it) or a local clone (in which case I can wait for other things to get in before a new release)?

[2021-02-23 19:34] darrenswhite commented on #124
I'm using the pip package but I've patched it locally anyway :)

[2021-02-26 00:57] Flametix opened #128 "Metronome Battles / doubles move error?"
Hello,

I saw the update for doubles support some time ago and was interested in seeing how a bot might perform with Metronome Battles (2v2 format with only Metronome) and the possibility of training one to make optimal dynamaxes or something. In the past I've used a hacky method of always sending /choose default, and this has served well enough for mass-testing, but doesn't allow for options like

[2021-02-26 01:06] hsahovic commented on #128
Hi @Flametix,

Thanks a lot for the report! I'll take a deeper look at this and try to get a fix out over the weekend.

[2021-02-27 01:03] hsahovic commented on #128
I found the problem: metronome battles were not considered double battles! [Here is the faulty line of code.](https://github.com/hsahovic/poke-env/blob/9086b65f4eedccaf90c14acbe9385b01009372c5/src/poke_env/player/player.py#L670)
This should be fixed with [this commit](https://github.com/hsahovic/poke-env/commit/1eabc541420a08d01ac06a4212e7b5d042652d3c).

[2021-02-27 01:03] #128 closed

[2021-02-27 01:43] hsahovic commented on #117
This is now merged and available in version `0.4.8` :)

[2021-02-27 01:43] #117 closed

[2021-02-27 03:49] Flametix commented on #128
Thanks for the quick response!

[2021-02-27 19:55] hsahovic commented on #128
No worries - I ran `metronomebattles` using `RandomPlayer` agents successfully, but there might be other issues lurking our there. Let me know if you encounter any other!

[2021-03-05 08:53] sudarshanvankudre opened #130 "Playouts Implementation?"
Hi, is there any way to "pause" a battle at a certain battle state and try out different actions from that state to the end of the playout? Is this something in the works for the future? Thanks!

[2021-03-05 19:00] hsahovic commented on #130
Hey @sudarshanvankudre,

This is on my distant wish list, but not really planned for the next few months.
It would require a deeper integration with showdown. I know that there are utilizes in showdown to serialize battle states, but I don't have a clear view of what is needed to use them as you are describing.

If you take a look at it let me know how it goes!

[2021-03-05 19:20] sudarshanvankudre commented on #130
I'll let you know if I figure something out!

[2021-03-06 02:34] hsahovic commented on #130
Great :) I'll close this for now then - don't hesitate to reopen or add comments!

[2021-03-06 02:34] #130 closed

[2021-03-09 05:45] sudarshanvankudre opened #133 "Battle result indicators not working"
Hi, it seems that the won, lost, and finished attributes for Battle objects are always False, None, and False. Is there some other way to see if a Player has won a battle? Thanks.

[2021-03-09 05:48] #133 closed

[2021-03-16 10:10] hamishivi opened #134 "Typo in pokemon effect dict"
Hi, great work. Just noticed a small typo at line 275 of `src/poke_env/environment/pokemon.py` - currently the `Effect` type is used in place of what should probably be the `effect` variable:
[code]
This can cause runtime errors (albeit rarely with random teams). I've made the fix locally, so happy to make a tiny pr for this if need be :)

[2021-03-16 13:45] hsahovic commented on #134
Hi @hamishivi,

Good catch, thanks a lot for bringing this up! I think I'm clearly lacking tests on this set of functionalities. I fixed it on master, I'll push a new release with the fix soon.
Thanks again!

[2021-03-16 13:45] #134 closed

[2021-03-31 17:38] Icemole opened #135 "Consider the Reflect move"
Hey, I was implementing a gen 1 bot and I noticed that the program crashes when Reflect is used. I know gen 1 is not supported, but [according to Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Reflect_(move)), the move can also be seen on generations other than the first one. Maybe it was missed due to it not appearing on many games, but it's crashing at least once every ten battles in my tra

[2021-03-31 17:46] hsahovic commented on #135
Hi @Icemole,

Thanks for opening this issue.
`REFLECT` is creating this problem because it's treated differently by showdown in gen1. I'll push a fix later today.

Apart from this, did you experience other problems with gen 1?

[2021-03-31 18:20] Icemole commented on #135
Thanks for the quick reply! No, I haven't noticed any other issues.

[2021-03-31 20:23] allenbao64 opened #136 "Connecting to Showdown with SimpleRLPlayer"
Hi,

I've followed your example code for connecting RandomPlayer to showdown, but trying to do the same thing using SimpleRLPlayer doesn't seem to work. It's able to connect to the server and challenge people but seems to get stuck when it needs to select an action. Are there any examples of working code that connects to Showdown with SimpleRLPlayer?

Thanks!

[2021-03-31 20:39] hsahovic commented on #136
Hi @allenbao64,

Thanks for opening this issue.
The method [described in this issue](https://github.com/hsahovic/poke-env/issues/119#issuecomment-763526219) should allow you to train a model using the open ai gym api, and then use it to instanciate an agent that can be used as described to play on pokemon showdown. Let me know if this solves your problem!

[2021-04-01 02:05] hsahovic commented on #135
This should be fixed in [this commit](https://github.com/hsahovic/poke-env/commit/d967be2d83ad349dff1547e780b9958481e7ba0e), and the corresponding poke-env release (version 0.4.9).

Upgrading via `pip` (or pulling master) should fix your current issue. Don't hesitate to open a new one if you find other problems! I've never spent time on testing gen 1 compatibility, so I'd love some feedback on how

[2021-04-01 02:05] #135 closed

[2021-04-01 03:13] allenbao64 commented on #136
Hi @hsahovic, thanks for the quick response. It seems to have worked with a few adjustments. I'll let you know if anything else comes up. Thank you!

[2021-04-13 13:38] attraylor opened #140 "Error when game goes over 1000 turns"
2021-04-13 08:39:38,118 - SimpleRLPlayer - ERROR - Unhandled exception raised while handling message:

|
|t:|1618317578
|switch|p2a: Heatran|Heatran, F|100/100
|switch|p1a: Landorus|Landorus-Therian, M|115/382 brn
|-ability|p1a: Landorus|Intimidate|boost
|-unboost|p2a: Heatran|atk|1
|
|-heal|p1a: Landorus|138/382 brn|[from] item: Leftovers
|-damage|p1a: Landorus|115/382 brn|[from] brn
|upkeep
|big

[2021-04-13 16:01] hsahovic commented on #140
Hey Aaron,

Thanks for reporting this. I'll get a fix tonight.

[2021-04-14 00:34] hsahovic commented on #140
This should be fixed by #141. I will release it in version `0.4.11` when #139 is merged too - in the meantime, you can pull for master or rebase your fork from it :)

[2021-04-16 22:57] hsahovic commented on #98
This is implemented in #139

[2021-04-16 22:57] #98 closed

[2021-04-21 08:13] mancho2000 opened #142 "model question"
Hi Haris,

How can I  return two different input vectors, process them separately and then concatenate them in a single dense layer?

For example, I would like to return a vector containing the pokedex number of each mon and another vector containing the rest of the battle observations. Then, the pokedex number vector process it with an embedding layer and the other vector with a dense layer. Afte

[2021-04-21 09:52] fwqefwqef2 opened #143 "Installation Error with poke-env"
Hi! I am a long time user of poke-env, and I use poke-env to simulate thousands of games to find optimal team strategies in Metronome Battles. While I was trying to install poke-env on my new laptop, I ran into this issue:

[error.txt](https://github.com/hsahovic/poke-env/files/6349836/error.txt)

I have already tried installing zLib and libjpeg (which are the requirements for Pillow), but I get t

[2021-04-21 11:22] hsahovic commented on #143
Hey @fwqefwqef2,

Thanks for opening this issue. In the logs above, there's

[code]

Does your setup requires python 3.9? If not, you can probably fix this by using python 3.7 or python 3.8.

[2021-04-21 11:41] fwqefwqef2 commented on #143
[error.txt](https://github.com/hsahovic/poke-env/files/6350480/error.txt)

I uninstalled Python 3.9 and downloaded Python 3.8. The same error occurs.

[2021-04-21 11:53] hsahovic commented on #143
In the new logs you sent, it looks like python 3.9 is still being used: can you double check with `python --version`?

If 3.8 is correctly being used, I'd recommend using a virtual environment (on windows, I've used conda in the past) or [wls](https://ubuntu.com/wsl). Additionally, I'd recommend checking [this page, which is references by the Pillow error logs](https://pillow.readthedocs.io/en/lat

[2021-04-21 12:16] hsahovic commented on #142
Hey @mancho2000,

Thanks for opening this issue. I'll take a look at it later today :)

[2021-04-21 21:10] hsahovic commented on #142
I think there are multiple components to your question.

The first one is returning multiple outputs when embedding a battle. If I build upon the example from the docs, you can do something like:

[code]

Here, we return 1) a vector representing the battle state 2) an int corresponding to the pokedex index of the active pokemon. You can expand this to the opponent's active mon, as well as both tea

[2021-04-22 19:45] mancho2000 commented on #142
Thanks for the quick reply!

I found this: https://github.com/keras-rl/keras-rl/issues/287 but I am a beginner and can't manage to make it work. I tried looking into the Keras functional API as well: https://keras.io/guides/functional_api/ with no success. I believe this is what I need, but I don't know how to apply it. Could you please help me out with this?

I also found how to make a custom mod

[2021-04-22 20:30] mancho2000 commented on #142
Managed to make it work :)

It makes the learning process much slower though, not sure if it will be practical to use this embedding layer for the pokedex number

[2021-04-22 21:31] hsahovic commented on #142
Congrats! How did you set it up?

[2021-04-27 04:34] fwqefwqef2 commented on #143
I properly downgraded my python to 3.8 and I successfully installed poke_env. Thanks for the help!

[2021-04-27 11:06] #143 closed

[2021-04-29 12:08] #142 closed

[2021-05-03 11:42] Trailblazin opened #148 "Live training feed, visualisation of agent performance data?"
Hi @hsahovic ,

I have been working with the Poke-Env environment for a couple of months as the experimental basis for my Bachelor's Thesis; I very much appreciate the work done here as it's a novel yet relatable application of Reinforcement Learning and I hope to do this work justice in some way.

In light of this, and is probably relevant to your own publication, I would like to ask for you assi

[2021-05-04 11:51] hsahovic commented on #148
Hey @Trailblazin,

Thanks for your feedback.
The reward is interesting as it relates to your training process, but I agree that it can be harder to interpret. `Player` objects implement a [win rate](https://poke-env.readthedocs.io/en/stable/player.html?highlight=env%20player#poke_env.player.player.Player.win_rate) property, which could be a first metric you could plot. Going one step further, we c

[2021-05-05 17:25] nacharya114 opened #151 "Dockerized runs of poke-env fail to access port 8000 during imports"
Hello! This is my first time submitting an issue on Github so I'm a bit scared 😓

I'm basically trying to dockerize the training process of a DQN bot to keep my local environment clean. I've made a dockerized version of the pokemon showdown server that runs with the '--no-security' flag (docker.io/nacharya114/pokemonshowdown), and I've created a jupyter notebook docker stack that mounts to my work

[2021-05-05 23:06] hsahovic commented on #151
Hey @nacharya114,

Thanks for opening this issue. This sounds like an exciting project! I think I need more information to help you out efficiently, in particular regarding the way you are using docker compose.
On my local setup, I was able to run a `poke-env` agent on your PS docker image with:

[code]

And, in my `poke-env` folder:

[code]

Are you sure that port 8000 is being forwarded as inten

[2021-05-06 04:59] nacharya114 commented on #151
Thank you so much for the fast reply! Yes it should be! The compose is pretty simple, I'm just running jupyter lab ephemerally and having it all standing up with open ports. I can access both the PS server and labs server from each container with ping, but any time I try to make a user in the PS UI, I get this error:
<img width="257" alt="Capture" src="https://user-images.githubusercontent.com/120

[2021-05-06 23:19] hsahovic commented on #151
I've been able to run poke-env using a `docker-compose.yml` file that's very similar to the one you used above.

Docker compose file:

[code]

`poke-env` code executed in jupyter:

[code]

Let me know if that helps, or if you still have this issue :)

[2021-05-07 01:29] nacharya114 commented on #151
Okay, weird. I can run your cell, but when I run my cell (the only difference is my own class import) it fails with the same socket error.
Specifically, the line in the cell causing the issue is:
`from pokebot import BotPlayer`

Which shouldn't be running anything since nothing is being instantiated and the only import statements in that class are:
[code]

[2021-05-07 01:44] hsahovic commented on #151
If you can share the code causing the issue and a full traceback, I can try to take a deeper look at what is going on :)

[2021-05-07 01:49] nacharya114 commented on #151
For sure, thanks so much for the amazing help :)
Here's my class that extends EnvPlayer:
https://github.com/nacharya114/pokebot/blob/master/pokebot/bots/bot.py

Here's the notebook:
https://github.com/nacharya114/pokebot/blob/master/notebooks/Training%20Notebook.ipynb

And here's the stack trace ( I wish it showed more):

[code]

[2021-05-07 06:40] mancho2000 opened #152 "toxic status counter"
Hey,

It seems to me that the status counter for toxic was off, so I added a reset to the counter under def _switch_in(self, details=None)
and I think solved the problem. Let me know if this is correct :)

[2021-05-07 06:42] mancho2000 commented on #152
Also, is there a way to obtain the weather and fields duration left?

[2021-05-08 07:14] Icemole commented on #148
![against_buenillo](https://user-images.githubusercontent.com/31628502/117530253-5b0a4e00-afdc-11eb-9ac9-16b6a2db8c38.png)
I also had the same problem as you. The graph above shows the reward of the agent with respect to the episodes (see blue "line" on the image). What I did was to implement a simple incremental mean, where the episode `i` was the mean of all previous episodes. Maybe it would be

[2021-05-08 17:26] hsahovic commented on #152
Hey @mancho2000,

Thanks for bringing that up, it's a great catch! The main issue should be fixed by #153

For fields and weather, `Battle.fields` maps `Field` objects to `int`s corresponding to the start turn of the field.
You can therefore do `{field: (battle.turn - start_turn) for field, turn in battle.fields.items}` to get a map from active `Field`s to the number of turns a `Field` has been ac

[2021-05-08 23:16] hsahovic commented on #148
@Trailblazin Thanks for taking the time to write this up :) @Icemole 's comment shows one way of keeping track of average reward; you can keep track of other metrics you'd like to define similarly.

In the short-term, I will not add dedicated support for metrics, as there are a couple of things I want to do first. Metrics will be added later, though. That being said, I put together a couple of fun

[2021-05-10 05:23] nacharya114 commented on #151
Okay, thank you SO much for your help. Seriously. I just copied the code you had up there and everything works. I still get those weird OS errors but everything does run now. I appreciate your dedication to keeping issues cleared on this repo and all the ground work you've done for this!

[2021-05-10 05:23] #151 closed

[2021-05-13 12:21] mancho2000 opened #157 "battle.fields"
Hi Haris,

It seems to me like sometimes more than one terrain is returned by battle.fields
Could you please look into it

[2021-05-13 12:24] hsahovic commented on #157
Hey @mancho2000,

Thanks for reporting this - I'll push a fix tonight.

[2021-05-14 01:28] #157 closed

[2021-05-14 01:32] hsahovic commented on #157
@mancho2000 that was an excellent catch - turns out showdown doesn't send a message for fields ending when it's a terrain being replaced :) Thanks a lot for finding this, I really appreciate it! If should be fixed by #158 and `poke-env==0.4.13`

[2021-05-14 13:20] Trailblazin commented on #148
@hsahovic Thanks again for getting back so quickly, I hope my write-up was not too wordy without being informative in someway :D

I totally understand such metrics not being a priority for the environment and I appreciate the provided functions, they'll be of great assistance.  From my understanding, the player object holds all the turn data for a particular battle and we can use this to isolate r

[2021-05-17 14:08] mancho2000 opened #160 "Self Play"
Hey,

I have a bit of a selfish request this time :) I would like to make the agent play against a saved version of itself, but I am having a really tough time making it work. I saw someone else posted a similar question, but I am using RLlib and don't know how to do it. I kind of made it work, but for some reason both my agent and the opponent just return 0 as the chosen action when doing self pl

[2021-05-17 16:47] hsahovic commented on #160
Hey @mancho2000,

I can take a look at your code. Let me know if you don't want to share it publicly - we can arrange something if necessary.

[2021-05-17 17:32] mancho2000 commented on #160
Thank you! Here you will find the code. The part of the battle embedding I have modified to make the same you provided in the example, since that part is not important for this purpose I believe.

This is the main file:

`import asyncio
import numpy as np
import ray
import ray.rllib.agents.ppo as ppo
import ray.rllib.agents.sac as sac
import ray.rllib.agents.dqn as dqn
import random
import tensorf

[2021-05-17 17:32] mancho2000 commented on #160
sorry for the mess, I don't know how to format this properly in here :)

[2021-05-18 00:05] hsahovic commented on #160
I ran the training part of the code above successfully, albeit with a smaller number of iterations.

I think your agents might just end up in infinite loops from time to time (eg. infinite switch loops)? Are you seeing something specific that make you think something is wrong?

[2021-05-18 07:12] mancho2000 commented on #160
The problem that I have is that my agent plays well when the opponent is randomplayer, or maxplayer. When I make it play against itself, then both the agent and the opponent just choose the first move they have (I printed the action they return and its always 0).

I had the idea that the problem could be related to calling also SimpleRLPlayer in:
[code]

so I tried just setting up the opponent in

[2021-05-19 13:46] #160 closed

[2021-05-20 17:44] hsahovic commented on #160
@mancho2000 I saw you closed this - have you found a solution? If not, I can take a deeper look at it over the weekend.

[2021-05-21 13:26] mancho2000 opened #161 "Possible moves for mon"
Hey,

I think adding the possible moves each mon can have would make agents much better, as they would know what to expect. Would it be possible to add them? As I understand, each mon has a pool of possible moves from which they get random moves.  Also for OU and other similar tiers could get the moves from the monthly usage statistics, plus their use %.

[2021-05-22 09:43] StevenGin opened #162 "cross_evaluate immediately hanging"
Working my way through the examples, however on the cross_evaluate example, running the code immedaitely hangs after printing this.

`2021-05-22 02:40:40,484 - Player 1 - WARNING - Received pm: |pm| Player 1| Player 2|/challenge gen7randombattle|gen7randombattle|||
2021-05-22 02:40:40,485 - Player 2 - WARNING - Received pm: |pm| Player 1| Player 2|/challenge gen7randombattle|gen7randombattle|||
20

[2021-05-22 23:16] hsahovic commented on #162
Hey @StevenGin,

Thanks for bringing this up. I believe this was caused by [this PR](https://github.com/smogon/pokemon-showdown/pull/8303) in `pokemon-showdown`, which changed the way challenges are processed. I am working on implementing it into `poke-env`, and will release it before the end of the weekend.

[2021-05-23 00:59] hsahovic commented on #162
This is solved by #163 and released in `poke-env` 0.4.14. Please upgrade the version you are using (`pip install --upgrade poke-env`) or pull master (`git pull master` in your `poke-env` clone) :)

[2021-05-23 00:59] #162 closed

[2021-05-23 01:17] hsahovic commented on #161
Hey @mancho2000,

This is a good idea. `poke-env` currently contains a jsonified version of pokemon-showdown's learnset files, that could be used to do this. It is not used anywhere in the source code, apart from some [scripts used for debugging](https://github.com/hsahovic/poke-env/blob/eb5fe0767634a1afb92ebd2459e0293340515821/diagnostic_tools/anything_goes_gen_8_random_battles_and_teams.py#L24).

[2021-05-23 01:17] #148 closed

[2021-05-23 01:17] #152 closed

[2021-05-24 08:22] lolanchen opened #164 "memory usage of `player` class"
Hi Harris how are you doing!

TL;DR:
1. the player class seems to be using to much memory, how do I stop it from doing so?
2. cool down time for between games for the `Player` class
----------------------

I'm currently using a custom `train_on_ladder` function, which simply replace the send/receive challenge part for `launch_battle` with laddering in `play_against`,
to train 16 agents against eac

[2021-05-24 10:17] mancho2000 commented on #161
I believe that random battles don't use the full learnset of each mon, but rather a small pool of moves from which it selects randomly. If we could use that small pool it would be very useful, but I think that using the whole learnset would be too inefficient to be of any use.

About the usage statistics, I saw Pmariglia's bot that uses them. Maybe it could be useful in some way:
https://github.co

[2021-05-24 11:56] hsahovic commented on #161
Interesting - I'll take a deeper look at it this week. This might indeed be an interesting feature :)

[2021-05-24 12:09] hsahovic commented on #164
Hey @lolanchen,

Thanks for bringing this up.

### On RAM usage

`Player` objects store `Battle` objects, so a linear increase in RAM usage is expected over time if the battle store is not reset. I wouldn't expect RAM usage to go so high, but I can see something like that happening over > 10k battles per player, since some rather large json messages are stored by each `Battle` object.

There are t

[2021-05-24 13:11] lolanchen commented on #164
@hsahovic
Thanks as always!

for the delay, I ended up just adding the sleep in the ladder funciton in `player.py` and it works fine.

for the memory issue, calling `player.reset_battles()` does seem to solve the problem,
but I thought it'd be nice if `Player` class can offer an option to save/not save battles on initialization.
something like
[code]

cheers

[2021-05-24 13:18] hsahovic commented on #164
That's a good idea. This would have implications on other things (such as `Player.win_rate`), so I need to think about it a bit more, but maybe having a limit to the number of stored battles would be a good solution.

[2021-05-24 20:21] mancho2000 commented on #161
I just noticed that sometimes a mon has only 1 possible ability, yet mon.ability returns None.
I believe I fixed it like this:
[code]

For sure there is a better way to do it, but that's all my programming skills allowed me to do haha :)

[2021-05-25 18:16] Icemole commented on #140
It is still happening, although not as the crash @attraylor mentioned. Instead, when it reaches turn 1000, it activates an "Endless Battle Clause":
[code]
I am using version `0.4.11`.

[2021-05-25 21:25] hsahovic commented on #140
Hi @Icemole,

Thanks for reporting this. Pokemon-showdown recently changed some of it's API / protocol structure: I suspect that is what is causing this issue. I'll take a look at it and try to fix it asap :)

[2021-05-25 22:14] hsahovic commented on #140
Hey @Icemole,

I was unable to reproduce it with 1500+ turn battles. Which version of `poke-env` are you using? If installed through `pip`, you can `pip freeze` to display your installed packages along with their versions.

[2021-05-25 22:50] Icemole commented on #140
Hi, `pip freeze` shows `poke-env==0.4.11`. I think I should mention that me and my colleague are developing a 1st generation bot so that may be our issue; the error may have been solved in posterior generations. We are using such version because it is the one that solves the warning on 500 turns (it seems it was relatively easy to run into a Clefairy - Gengar matchup for instance), but the latest

[2021-05-25 23:05] hsahovic commented on #140
Interesting - I'll try to get things running with gen 1 then :)

[2021-05-26 00:29] hsahovic commented on #140
@Icemole `poke-env` version 0.4.15 is out. It should let you run gen 1 / 2 / 3 battles (but log a warning) without too much trouble, using gen 4 objects (eg. `Gen4Move`, `Gen4Battle`, etc).

Regarding the Endless Battle Clause: `message` type messages should be logged (info level logging). As an aside, `Battle.turn` should let you deal with long-running battles as you see fit in your agents.

Plea

[2021-05-26 00:29] #140 closed

[2021-05-26 02:05] lolanchen opened #166 "bug report - Unexpected effect 'Liquid_Ooze'"
Was training bots on the ladder as always and got 4 of this in a row

[code]

[2021-05-26 23:57] hsahovic commented on #166
Thanks, I'll add this to the next release!

[2021-05-27 08:55] lolanchen commented on #164
@hsahovic
 On the same RAM usage issue, it seems that resetting battles only solves half of the problem. The memory usage still increase linearly, just at a slightly slower rate.

  some quick debugging with `tracemalloc` implies the problem is in the [listen function](https://github.com/hsahovic/poke-env/blob/master/src/poke_env/player/player_network_interface.py#L243) in `player_network_interfac

[2021-05-28 12:06] mancho2000 opened #167 "Timer"
Hey Haris,

Is there any way to make the agent start the timer when it joins a new ladder game? Sometimes opponents take forever to play or just not play at all

[2021-05-29 18:21] hsahovic commented on #166
Fixed [here](https://github.com/hsahovic/poke-env/commit/80839219ad31b1e3594b6e7003525e72b5404ff1); thanks for the report!

[2021-05-29 18:21] #166 closed

[2021-05-30 10:03] #167 closed

[2021-05-31 05:42] lolanchen opened #169 "[Bug Report] NotImplementedError"
[code]

[2021-05-31 06:12] lolanchen commented on #169
and related but here's one more
[code]

[2021-06-10 20:24] mancho2000 commented on #161
hey!

any updates on this? :)

[2021-06-10 21:16] hsahovic commented on #161
Hey @mancho2000,

It's been a few busy weeks - I'll try to dig into it over the weekend :)

[2021-06-13 06:56] mancho2000 opened #172 "Creating a heuristics opponent"
Hey Haris,

I am trying to make a new training opponent and have a few questions:

- How do you make it switch? For example, if the mon is weak to its opponent, then switch to a mon that has good typing for it.
- How do you make it choose a setup move?
- How do you control when it dynamaxes? I would like it to not dynamax too early in the battle
- How do you make it choose a hazards move?

Thanks

[2021-06-13 21:16] hsahovic commented on #172
Hey @mancho2000,

In your situation, I'd start by taking a look at the [code defining the existing heuristics player](https://github.com/hsahovic/poke-env/blob/058895e11842c074e5345611bed13cf102cc8ef4/src/poke_env/player/baselines.py#L16) - you can use it as a starting point.

Regarding the specifics:

`SimpleHeuristicsPlayer` has a [`_should_switch_out`](https://github.com/hsahovic/poke-env/blob/

[2021-06-13 21:16] #172 closed

[2021-06-18 07:05] mancho2000 opened #173 "Determining if opponent has choice scarf"
Hey Haris,

How can I get the info of which mon went faster last turn? I would like to add some logic to determine if opponent mon needs to have a choice scarf. Could you give me some pointers as to how to do this? I guess I would need to know as well if the opponent last move had priority or not, as well as if it has prankster.

After this, I would also like to try something for choice band/specs

[2021-06-18 07:07] mancho2000 commented on #173
Do you think this could be useful for the agent? or the agent should eventually be able to figure all this out by itself?

[2021-06-21 09:32] hsahovic commented on #173
Hey @mancho2000,

Apologies for the delay in response.
This would clearly be an important improvement to poke-env. It is in its roadmap.
The main blocker right now is that there is no stats deduction mechanism that's implement, which would make detecting choice objects relatively easy.
If you are interested in implementing it, you'll need to add some kind of records to `Battle`'s handling mechanis

[2021-06-29 06:04] yoursred opened #174 "Make long constants hidden by default in documentation."
In the documentation, some really long constants are displayed, which makes browsing said documentation very annoying.
Here's an example with the doc page for 'Move':
![Screenshot from 2021-06-29 05-55-41](https://user-images.githubusercontent.com/86563891/123745138-5c028200-d89f-11eb-8643-95c148cc564a.png)
![Screenshot from 2021-06-29 05-55-46](https://user-images.githubusercontent.com/86563891/1

[2021-06-29 11:30] hsahovic commented on #174
Hey @yoursred,

Thanks for bringing this up. A [similar fix](https://github.com/hsahovic/poke-env/commit/3059e9fa2b35edca1d174bcbcd2e53ca2aabbf57) was pushed to master, but wasn't accompanied by a dedicated release. `poke-env`'s _latest_ docs are fixed, but not _stable_. I am going to change the default docs to _latest_ over _stable_; this should fix the version that is displayed and reduce the ri

[2021-06-29 11:30] #174 closed

[2021-07-10 17:33] IndigoGems opened #177 "connecting_an_agent_to_showdown.py works fine, very confused on how to implement reinforcement learning"
I have all the proper packages installed (Python 3.6, Tensorflow 2,  keras-rl2, and all that)

Tried to run rl_with_open_ai_gym_wrapper.py but results in Connect call failed

I am sorry if this is not the right place

My guess is that I would have to use both .py files as a reference and create one file that has an agent that connects to either Showdown or local and uses the training code

[2021-07-11 00:44] hsahovic commented on #177
Hi @IndigoGems,

Thanks for reaching out.

For the connect call failed error:

- Did you specify a showdown username and password [in the script](https://github.com/hsahovic/poke-env/blob/058895e11842c074e5345611bed13cf102cc8ef4/examples/connecting_an_agent_to_showdown.py#L12)?
- If so, can you copy-paste the logs and error traceback?

For using RL on PS: I'd recommend training your agents locally

[2021-07-11 01:37] IndigoGems commented on #177
Ah, it seems that I have solved the issue. Thank you.

However I am worried about me launching my own local showdown server with the --no-security flag. The server runs fine but I cannot use SimpleRLPlayers or RandomPlayer because I did not use the flag. So my learning agent won't work.

Is the flag okay to use locally?

[2021-07-11 01:45] hsahovic commented on #177
That's good to hear.

As long as it's for local use, yes, you can use the `--no-security` flag without having to worry about it.

If you are not using it, you will need to specify username / passwords for your agents (as in the [connecting an agent to showdown example](https://github.com/hsahovic/poke-env/blob/058895e11842c074e5345611bed13cf102cc8ef4/examples/connecting_an_agent_to_showdown.py#L12

[2021-07-11 02:27] IndigoGems commented on #177
The training locally seems to have worked fine, and the output was a folder named "model_10000".

I really hope this is the last question: How would I load my trained model onto an agent with authentication? (So that the bot can challenge other players in Showdown)

[2021-07-11 03:06] hsahovic commented on #177
Well done! You should be able to load your model using `tensorflow.keras.models.load_model` and use it in a custom agent by doing something a bit like [what is mentioned is in this issue](https://github.com/hsahovic/poke-env/issues/119).
You can then use the same code as in the connecting to PS example, replacing the random player with this one.

[2021-07-11 03:29] IndigoGems commented on #177
Thank you once again. I'll try to make this all work with my own hands from now on.

[2021-07-11 03:37] #177 closed

[2021-07-11 09:33] IndigoGems opened #178 "ValueError: Error when checking input: expected dense_input to have 3 dimensions, but got array with shape (10, 1 )"
The error seems to be caused from this part of the code

File "cleanTrained.py", line 33, in choose_move
    predictions = self.model.predict([state])[0]

This is the part of the code for the predictions to occur.

[code]

[2021-07-11 15:27] hsahovic commented on #178
Can you `print(model.summary())`? I suspect it's `keras-rl` doing some weird model reshaping.

[2021-07-11 15:40] IndigoGems commented on #178
Here are the results from **print(model.summary())**

[code]

[2021-07-11 23:56] hsahovic commented on #178
Ah, the sequential model does not show the input later.
If you print `model.input`?

As a wild guess, you might want to try to reshape the state:

[code]

[2021-07-12 04:25] IndigoGems commented on #178
After messing around with the code a little an error message that might be unrelated pops up:

[code]

[2021-07-16 23:18] yoursred opened #179 "RL example from docs not learning."
I've been poking around with this incredible tool of yours and as you do, I copy pasted the keras example from the docs and put in my own `embed_battle` function that has 1000+ outputs but it did not learn.
I tried again with the example without changing anything in it, and still no luck. The reward value just seems almost random too.
Results:
[code]

Python version: `3.6.13 :: Anaconda, Inc.`

In

[2021-07-16 23:34] hsahovic commented on #179
Hey @yoursred,

Thanks for opening this issue.
Training a decent RL model is hard, and throwing a lot of inputs into a DQN model can make convergence a lot harder, especially without adapting the model architecture / training regime.

Regarding the docs example, I just ran [the example RL script](https://github.com/hsahovic/poke-env/blob/master/examples/rl_with_open_ai_gym_wrapper.py), and got the

[2021-07-16 23:43] yoursred commented on #179
Thanks for the quick response.
Strangely the script does work, and produces similar results to yours, and the only difference I can see so far is these two lines:
[code]
I will do a test where the RNGs are seeded.

[2021-07-17 00:10] hsahovic commented on #179
Let me know if you find anything looking out of place!

[2021-07-17 00:30] yoursred commented on #179
I think I figured it out, in my `RLPlayer` class I had this for an ```embed_battle``` function:
[code]
and ```weed``` being:
[code]
For some reason that's not allowing to learn, I would assume maybe overhead? At this point I'm just happy that it works.
Thanks a lot for the help.

[2021-07-17 00:56] hsahovic commented on #179
Mmm, that's surprising - I'm not sure I understand what happened there.
Anyway, I'm glad you got things running!

[2021-07-17 00:56] #179 closed

[2021-07-17 00:57] hsahovic commented on #178
Can you copy-paste your current script?

[2021-07-19 05:58] cjyu81 opened #181 "Pokemon pokedex entry"
After looking through the pokemon.py file, I noticed there is a species identifier but no pokedex entry number for each pokemon object. My goal is to number each pokemon species off for input to a network. Is there a built in method of accessing the pokemon's pokedex number or another effective approach to assigning each species a number?

[2021-07-19 07:58] haasj22 opened #182 "Weird RL Envirmonment Error"
Hey. I was trying to use your project for a program I was working on and I used the reinforcement learning tutorial. At one point I had it working but recently I get the following error.

2021-07-19 00:53:53,492 - RandomPlayer 1 - CRITICAL - Error message received: |nametaken|RandomPlayer 1|Your authentication token was invalid.
2021-07-19 00:53:53,493 - RandomPlayer 1 - ERROR - Unhandled exceptio

[2021-07-19 11:20] hsahovic commented on #182
Hi @haasj22,

Are you running pokemon showdown locally? If so, did you start it with the `--no-security` flag?

[2021-07-19 11:30] hsahovic commented on #181
Hey @cjyu81,

There is no built in method to do so, but you can build and use a `dict` object to do so:

Before instantiation:

[code]

In your code:
[code]

That being said, you might want to expand this approach to separate different regional forms, megas, and what not:

[code]

Would that kind of approach work on your end?

**Note:** I haven't tested the code above

[2021-07-19 19:23] cjyu81 commented on #181
After testing the code above, I found it worked great for my purposes. I made two small edits to make it runnable:

`active_mon_dex = self.SPECIES_TO_DEX_NUMBER[battle.active_pokemon.species]`
'battle.active_pokemon' -> 'battle.active_pokemon.species'

`    idx = 0
    for species, values in POKEDEX.items():
        SPECIES_TO_DEX_NUMBER[species] = idx
        idx += 1
        if 'otherFormes' in

[2021-07-19 19:23] #181 closed

[2021-07-19 23:00] #169 closed

[2021-07-24 14:52] ID56 opened #185 "Rough ELO of bots"
Hello! I just wanted to get an idea of the current state of RL agents for showdown. Are there any records of ELO scores for the bots on any metas (e.g. random battle)?

[2021-07-31 17:58] pmariglia opened #187 "Does not track multiple layers of side conditions"
Side conditions that can have multiple layers (spikes/toxicspikes) do not have their layer count tracked. When tracking side conditions this environment uses a key-value map where the key is the name of the side condition and the value is the turn that the side condition was set on.

[This is done here](https://github.com/hsahovic/poke-env/blob/606a288ade88a1e664ab946c9510f1acc13b003d/src/poke_env

[2021-08-01 20:36] hsahovic commented on #185
Hey @ID56!

I know that there are a couple of RL projects out there, but I'm not sure what kind of results they are getting. [Here is one particular project with a good write up](https://www.yuzeh.com/assets/CoG-2019-Pkmn.pdf). Relevant extract:

[2021-08-01 20:36] #182 closed

[2021-08-01 20:48] hsahovic commented on #187
Good catch - that's definitely an error. I'll get a fix out asap.

[2021-08-04 06:05] ID56 commented on #185
@hsahovic Thanks! This is exactly what I was looking for.

[2021-08-04 06:05] #185 closed

[2021-08-12 17:38] mnguyen0226 opened #188 "Issue installing pokemon-showdown for poke-env"
Hi,
Pokemon-master branch get updates frequently which can be a problem for compatibility problem wise for poke-env. I install node js v14+ and just try to run node pokemon-showdown start --no-security to test server but got this issue

------------------------------------------------------------
~/Documents/pokemon-showdown$ node pokemon-showdown start --no-security
Error: Cannot find module '../

[2021-08-14 15:07] mingu600 commented on #188
As stated [here](https://github.com/smogon/pokemon-showdown/blob/master/server/README.md), you need to copy config/config-example.js into config/config.js in the showdown repo and edit accordingly.

[2021-08-15 13:56] mancho2000 opened #189 "Locked moves"
Hi Haris!

Does the agent understand it is locked into a move because of a choice item / locking move like outrage? How can I add this to my model?

Also similar to this, does it understand that it cant switch because of moves like whirpool?

[2021-08-15 21:43] hsahovic commented on #188
Hey @mnguyen0226,

Thanks for bringing this up, and sorry for the delay in response! As @mingu600 stated, this is due to a change in the way config files are dealt with in pokemon showdown. I will update `poke-env`'s docs to mirror this change.

[2021-08-15 21:49] hsahovic commented on #189
Hey @mancho2000,

Thanks for bringing this up.
I'm not 100% sure of the actual behavior in all of these case, but my understanding is that:

- You can detect if your pokemon has a choice item by checking [`mon.item`](https://poke-env.readthedocs.io/en/latest/pokemon.html?highlight=Pokemon#poke_env.environment.pokemon.Pokemon.item)
- If your pokemon is currently locked into a move, it will be the o

[2021-08-16 13:27] #188 closed

[2021-08-16 17:40] mnguyen0226 commented on #73
@pablovin I assumed that you mentioned this: https://github.com/hsahovic/poke-env/issues/119#issuecomment-763526219
Will you post the full choose_move implementation script in here. What is _action_to_move?

[2021-08-16 18:09] hsahovic commented on #73
@mnguyen0226 [`_action_to_move`](https://github.com/hsahovic/poke-env/blob/5f0fe8847c166fb2bcace98b4f7036de613c64ba/src/poke_env/player/env_player.py#L571) is a method implemented in `GenXEnvSinglePlayer`, which converts an action (eg. an integer, as returned by the model) to a battle order.

[2021-08-16 18:45] mnguyen0226 commented on #73
@hsahovic Hmmmm I see I see. So I approach training with Stable Baseline. What I am trying to do is to having 2 trained model fight each other on 2 different laptop/accounts. I was able to do this with MaxDamage vs Random agents. My plan now is to have TrainedRLAgent (with DQN) vs Random agent. I have trained the simpleRL DQN with Stable Baseline provided above with good evaluation score. The Rand

[2021-08-16 19:26] hsahovic commented on #73
Is any error raised? If not, can you set:

[code]
and see where the logs stop?

[2021-08-16 20:04] mnguyen0226 commented on #73
There is no error raised. Set up and play 1 game (I still have to manually get choose the action instead of RL agent manually choose the action). There is no log provided. Oddly, on the terminal it stated that the bot that I send the challenge to was not founded although I invite one to challege the other and get them to be in the same fight.

[2021-08-16 20:50] hsahovic commented on #73
Can you open a separate issue, with the logs (eg. the output on the terminal)?

[2021-08-17 15:15] mnguyen0226 commented on #73
@hsahovic I was able to load and has the agent automatically pick action now. Figured out the issue with "action" variable return a tuple instead of int.

Thank you for the help!

[2021-08-17 19:29] mingu600 opened #190 "Serializing game state for Showdown simulator API use"
Within Showdown's simulator API (https://github.com/smogon/pokemon-showdown/tree/master/sim), there are two functions Battle.toJSON and battle.fromJSON which allows users to serialize and deserialize the game state of a simulated battle. I was wondering if there was a way to serialize the current game inside of poke-env in the same compatible way, such that we can import the serialized state into

[2021-08-17 20:27] noojHeron commented on #164
@hsahovic

Hi,

I am running into a similar issue when training agents. I have tried both the `reset_battles()` solution as well as the `del player` solution to no avail. Similarly to lolanchen, it seems that coroutines are just piling up, and `coroutines.cancel()` is never being called. I'm a little confused as to why simply deleting the player classes after they are used does not seem to solve t

[2021-08-18 15:03] noojHeron commented on #164
@hsahovic

Hi,

Just wanted to post an update to the memory leak error. According to [this post on StackOverflow](https://stackoverflow.com/questions/49262379/does-finally-always-execute-in-python), a `finally` block in an asynchronous function may never execute. It seems that `try-finally` is not a safe operation for asynchronous processes.

Because this is unintended behavior that prevents train

[2021-08-18 23:24] hsahovic commented on #164
@noojHeron Good catch!

Coroutines being stored is removed in [this commit](https://github.com/hsahovic/poke-env/commit/c53a29341554be6627a6c6414fbe4fc1f235dc8b); it will be released in `0.4.17`.

[2021-08-19 23:52] #93 closed

[2021-08-19 23:57] hsahovic commented on #73
This should be fixed by upgrading to `0.4.17`. If this issue, or another similar RAM increase bug arises, please open a new issue :)

[2021-08-19 23:57] #73 closed

[2021-08-19 23:58] #178 closed

[2021-08-20 00:04] hsahovic commented on #190
Hey @mingu600,

There is currently no way of achieving this with `poke-env`. @szymonWojdat and I both looked into it last year, but we did not find an easy way to make the two systems work together.
If you want to look into it, please keep me posted! I'd love to have something like this integrated into `poke-env`.

[2021-09-10 03:15] bubloo7 opened #193 "Unknown item vs No item"
battle.opponent_active_pokemon.item has the value None when the item the enemy pokemon has is unknown or if it has no item (for example if I used knock off or have the ability frisk and see that it has no item).  Is there a way to make it differentiate between the two scenarios? Maybe if the item the pokemon is holding is unknown it just holds the value "unknown" and if it has no item it has the v

[2021-09-10 11:14] hsahovic commented on #193
Hey @bubloo7,

Thanks for opening this issue. Unless there is a bug in the current implementation, `poke_env.Pokemon.item` should be equal to `poke_env.data.UNKNOWN_ITEM` if its item is unrevealed.

[2021-09-10 22:08] bubloo7 commented on #193
I think there is a bug then, unfortunately. The item always has the value None when it's unrevealed for me. I used this code [here](https://github.com/bubloo7/PokeBot/blob/main/ScanBot.py). Line 46 always prints "Enemy Item:  None".

[2021-09-10 23:24] hsahovic commented on #193
@bubloo7 which version of `poke-env` are you using? Using `0.4.18` I get:

[code]

[2021-09-11 00:14] bubloo7 commented on #193
I thought I made sure I was using the latest version before I made this post but I was looking at the wrong venv 😐  Sorry for the confusion it works perfectly after I made sure I'm using the newest version!

[2021-09-11 00:14] #193 closed

[2021-09-11 07:04] godpow opened #194 "file missing repl"
C:\Users\CyberKira\Documents\pokemon showdown\pokemon-showdown>node pokemon-showdown start --no-security
RESTORE CHATROOM: lobby
RESTORE CHATROOM: staff

CRASH: Error: ENOENT: no such file or directory, scandir 'C:\Users\CyberKira\Documents\pokemon showdown\pokemon-showdown\logs\repl'
    at Object.readdirSync (fs.js:1043:3)
    at _class.start (C:\Users\CyberKira\Documents\pokemon showdown\pokemo

[2021-09-12 21:47] godpow commented on #194
Am I missing a step or something?

[2021-09-12 23:08] hsahovic commented on #194
Hey @godpow,

Thanks for reaching out. This seems to be a pokemon-showdown issue - if you do not find a fix, I would recommend reaching out to them.
I am not sure what is causing this error, but other people with similar error messages [like here](https://github.com/sass/node-sass/issues/1579) or [here](https://stackoverflow.com/questions/45251645/error-enoent-no-such-file-or-directory-scandir) go

[2021-09-12 23:46] hsahovic commented on #194
One other thing that may be helpful: it looks like you are using windows. I would recommend taking a look at [WLS](https://ubuntu.com/wsl), as it gives you access to a linux terminal directly from your windows environment, which makes working with libraries like pokemon-showdown a lot easier.

[2021-09-13 03:05] godpow commented on #194
I installed ubuntu on a spare hard drive seems like the same issue
[linux.txt](https://github.com/hsahovic/poke-env/files/7151092/linux.txt)
![Screenshot from 2021-09-12 22-59-13](https://user-images.githubusercontent.com/17231911/133017883-785daf1e-b690-4008-90f3-e64def86f33d.png)

[2021-09-13 03:06] godpow commented on #194
I can get on showdown just fine in a browser.

[2021-09-13 13:12] hsahovic commented on #194
Which version of `node` are you using?

[2021-09-13 21:45] godpow commented on #194
On windows and linux node 14

[2021-09-13 22:50] hsahovic commented on #194
Can you try upgrading to node 15?

[2021-09-13 23:59] godpow commented on #194
I didn't see node 15 for windows so I upgraded to 16 still same issue on windows. I'll try it on linux in a while

[2021-09-14 00:07] hsahovic commented on #194
@godpow I tried running my ci scripts and encountered the same issue - I think there is something broken in PS's current main branch, or they recently changed something that broke the installation steps I'm using.
I'll open an issue in their repo. Feel free to chime in :)

[2021-09-14 00:40] godpow commented on #194
Ok hopefully it'll be fixed soon!

[2021-09-14 01:34] godpow commented on #194
C:\Users\CyberKira\Documents\pokemon showdown\pokemon-showdown>node pokemon-showdown start --no-security
RESTORE CHATROOM: lobby
RESTORE CHATROOM: staff
Worker 1 now listening on 0.0.0.0:8000
Test your server at http://localhost:8000

it seems like making all of the directories fixed the issue. I have another question though how do you connect the bot to showdown and not a local server?

[2021-09-14 01:35] godpow commented on #194
![Uploading image.png…]()

[2021-09-14 01:39] hsahovic commented on #194
Good job! Thanks again for bringing up this issue, it was a good catch.
Regarding connecting to showdown, [I think you should find what you need here](https://poke-env.readthedocs.io/en/latest/connecting_to_showdown_and_challenging_humans.html). Let me know if something isn't clear!

[2021-09-14 02:25] godpow commented on #194
I have both pokemon-showdown and poke-env but I'm a bit confused on where to go from here. I looked in the server configuration and replaced the localhost:8080 with https://play.pokemonshowdown.com/action.php?. Not sure what to do to be honest.

[2021-09-14 11:14] hsahovic commented on #194
When instantiating a `Player` object, pass `server_configuration=ShowdownServerConfiguration` and `player_configuration=PlayerConfiguration("showdown_username", "showdown_password")` - this will make it connect to showdown's server with the given username / password.

[2021-09-14 18:00] mancho2000 commented on #161
Hi Haris,

any estimate of when this will be done? :)

[2021-09-17 00:55] hsahovic commented on #161
Hey @mancho2000,

Thanks for your patience - sorry it took me so long to get back to you.
Implementing something like this into `poke-env` is part of the project, but doing so properly and robustly is hard. I don't know when it will be done.

That being said, here is an example script that should be easy to adapt to your specific use case. There are two main options:
1. Enumerating all possible mo

[2021-09-17 03:36] Benjamin-Etheredge opened #198 "Compatibility/examples/help using tf-agents"
Would it be possible to get some examples up using tf-agents?

I'm attempting to leverage poke-env to drive some RL agents. `keras-rl2` seems to be discontinued, so TF Agents seems like the best route.

I'm having a lot of trouble adapting the player-env to working with tf-agents or other gym-consuming tools. Is there a nice way to just create a repeating environment that constantly goes up agains

[2021-09-17 06:13] Benjamin-Etheredge commented on #198
I manage to get the wrapping code working. It was more elegant than I thought. My issue was it didn't play nicely in a jupyter notebook. The example code would crash due to "no active battles" if run in a jupyter notebook.

[2021-09-17 06:18] Benjamin-Etheredge opened #199 "Calling reset twice in a row on PlayerEnv hangs."
While testing out custom player environments with the `dqn_training` wrapper, I noticed calling `player_env.reset()` twice in a row was causing the code to hang.

This could be due to my specific environment, but it might be worth investigating as third-party software does strange things like call reset twice in a row (e.g. see `Agent.__init__` at https://github.com/PyTorchLightning/pytorch-lightn

[2021-09-17 07:08] Benjamin-Etheredge opened #200 "Unhandled message"
Was getting this error periodically while training. I patched `abstract_battle.py` to work around it for now, but I don't know what to do with it yet.

[code]

[2021-09-17 13:03] #189 closed

[2021-09-17 13:03] #164 closed

[2021-09-17 13:04] #187 closed

[2021-09-17 13:08] hsahovic commented on #198
Hey @Benjamin-Etheredge,

Thanks for bringing this up. If I understand correctly, you got your code to run?
I'll run some tests with jupyter and see if I can do something about it. If not, I'll update the docs / readme.

[2021-09-17 13:10] hsahovic commented on #199
Hey @Benjamin-Etheredge,

Thanks for opening this issue. This is a known issue that has been sitting in my backlog for quite some time now; it might be time to implement a fix. I'll take a deeper look at it over the weekend.

[2021-09-17 13:11] hsahovic commented on #200
Hey @Benjamin-Etheredge,

That's a good catch. This happened with standard random battles with showdown's latest version?

[2021-09-17 13:17] pmariglia commented on #200
@hsahovic new way to handle courtchange

https://github.com/smogon/pokemon-showdown/pull/8287

[2021-09-17 13:20] hsahovic commented on #200
Ah, that makes sense. I'll go over it over the weekend.

[2021-09-17 14:52] Benjamin-Etheredge commented on #200
I was *just* about to make another issue due to the following error, but it turns out it's likely related to this one. The move used looks to be *swap court*.

Got an unknown condition. I
[code]

[2021-09-17 20:23] caymansimpson opened #202 "Hidden Power Typing"
Hey Haris,

Was just writing some unit tests to make sure I am properly embedding moves and I noticed some weird behavior with Hidden Power:

<img width="238" alt="Screen Shot 2021-09-17 at 1 20 30 PM" src="https://user-images.githubusercontent.com/8413475/133848960-0fc35c66-788a-4a9d-b97b-6aa1a35cee55.png">

I would imagine that Hidden Power Bug's typing should be Bug, especially given that the t

[2021-09-17 22:55] hsahovic commented on #202
Hey @caymansimpson,

Good catch. I'll try to get a fix asap.

[2021-09-19 00:40] Benjamin-Etheredge commented on #198
Yes, I have gotten it working. I still think it would be helpful to have the gym-compatible environment available outside the wrapper. Is it possible to handle the wrapping logic with some sort of automatic setup and tear-down? Or maybe switching from wrapping a function to a context manager? I'm not sure what the best way to do it would be. I'm sure I'll have a better idea after playing with it m

[2021-09-20 00:22] hsahovic commented on #200
This should be fixed by 4ea2ffdea4f3df8e6f3c7a0264cd6e068ad80e9c - It will be part of the next release.

[2021-09-20 00:31] hsahovic commented on #202
This should be fixed by 86ab5a678ad6f62e8738c616327c4d881a046535. It will be part of the next release.

[2021-09-20 01:20] hsahovic commented on #199
This should be fixed by 7a8e967d8728596a1804655ae78f3030b5407533.

[2021-09-20 01:27] hsahovic commented on #199
This is fixed in release `0.4.19`.

[2021-09-20 01:27] #199 closed

[2021-09-20 01:27] hsahovic commented on #200
This is fixed in release `0.4.19`.

[2021-09-20 01:27] #200 closed

[2021-09-20 01:27] hsahovic commented on #202
This is fixed in release `0.4.19`.

[2021-09-20 01:27] #202 closed

[2021-09-21 00:03] #194 closed

[2021-09-23 04:30] Benjamin-Etheredge opened #204 "Feature: Add unique integers for pokemon, moves, items, and natures"
I'm still going through the code base, so this might already exist in some form. I noticed the existing JSON data in the project, so it got me thinking better access would be awesome.

My objective is to learn embeddings in my models. That requires translating values to integers (like an OrdinalEncoder/LabelEncoder in sklearn). So I need a way of encoding a Pokemon into a unique integer for its sp

[2021-09-23 04:35] Benjamin-Etheredge opened #205 "Question: History in Battle"
Is there any way to get a hold of move history in a battle?

I'm specifically looking for what pokemon used what move was on the last turn.

[2021-09-25 00:38] hsahovic commented on #204
Hey @Benjamin-Etheredge,

Thanks for opening this issue. This is a common use case, but I don't think it should be a feature of `poke-env`, as it's more of a modelling decision. That being said, you could use something along those lines to get started:

[code]

[2021-09-25 00:39] hsahovic commented on #205
Hey @Benjamin-Etheredge,

Thanks for opening up this issue. This is currently not implemented, but in the works. It might not be implemented soon though - if it is a feature you'd like to use, I would recommend implementing it directly. If you want pointers as to where / how to do it, let me know so we can organize a longer chat.

[2021-09-28 20:42] Benjamin-Etheredge commented on #204
Awesome! Thanks for the code! I'll make use of it.

I'm still not entirely convinced it shouldn't be part of the code base. There is already some starter code in there for building RL agents, so it might still be worth having. I'll have to think about it more and test it out.

[2021-09-28 20:44] Benjamin-Etheredge commented on #205
Sounds good. I'm currently in the works of implementing a few things in the code base and pushing them up. For history, I'm currenlty just layer the past X battle encodings and that seems good enough. However, I do plan to explore making that smarter or a part of `Battle`.

[2021-09-28 20:57] Benjamin-Etheredge opened #207 "Feature: Different exposing of gym environment"
Have the code base register a gym environment. I recently saw a codebase that seemed to register its environment with gym.
This appears simple to do in the code base. That way anyone who installs/imports `poke-env` will be able to create a battler with `gym.make(...)`.

This would require a few things.

1. A showdown server already running somewhere
2. A rewrite of the PlayerEnv or a new PlayerEnv

[2021-09-28 20:58] Benjamin-Etheredge opened #208 "Rework default player configuration to support parallel runs"
The current default player configuration generator will cause errors when two runs are kicked off. This is likely due to collisions with the default configuration counter.

[2021-09-28 21:01] hsahovic commented on #208
Hey @Benjamin-Etheredge,

That sounds like a very good catch. Do you have a code snippet I could use to reproduce it?

[2021-09-28 21:02] Benjamin-Etheredge commented on #208
I have a fix for it. I'm trying to get it pushed to a new branch now.

[2021-09-28 21:02] Benjamin-Etheredge commented on #208
I don't have a code snippet to reproduce it. I noticed it when trying to run the same code twice in two shells.

[2021-09-28 21:03] hsahovic commented on #204
Maybe as part of a set of helper functions? What other tools would you like to see in there?

[2021-09-28 21:05] Benjamin-Etheredge commented on #208
There may also be an issue with passing specific player configurations through extended PlayerEnvs. I'm still investigating that one as it could be an issue with my code. It was easier to just rewrite the default configuration generator rather than investigate why my custom player names weren't working. The rework now works for parallel runs though.

[2021-09-28 21:06] hsahovic commented on #207
@Benjamin-Etheredge yeah, both this and deep `PlayerEnv` rewrites are planned, but the current plan depends on other deep backend changes (making things more synchronous in general).
I was thinking of maybe having something like a `PlayerEnv.set_opponent` method or even `PlayerEnv.opponent` attribute, that would default to a `RandomPlayer` - do you think that would be a good api?

[2021-09-29 02:21] Benjamin-Etheredge commented on #207
I think going more synchronous is probably the way to go. Maybe just throw things on other processes? I'm not super familair with python multi-threading/processing.

I sorta did something similar. I had an opponent with a `set_policy` method. Then had the learner call that to update it. Something like having a `set_opponent` was something I considered. It would probably work just fine.

For self-p

[2021-09-29 02:27] Benjamin-Etheredge commented on #204
I'm not sure. Helper functions or enums or something like that would be cool to add. The ability to quickly encode pokemon to unique integers can be used by a lot of AI applications. Learned embeddings is getting super popular. I'm planning to see if I can get a learner working with only learned encodings like those.

[2021-09-29 02:33] Benjamin-Etheredge opened #209 "5 moves appearing in pokemon.moves"
Periodically, 5 moves appear in the `pokemon.moves` field. ~50% of the time seems due to copycat, But I'm still seeing it with other moves. This issue is to track why.

[code]

[2021-09-29 03:21] Benjamin-Etheredge opened #211 "PlayerEnv auto-reseting"
`PlayerEnv.step` auto resets when battles end. It implies that steps can be made after `done` is reached.
I was curious what `gym` says about this and found this warning after stepping past done on a sample enviornment.

[code]

Should this behaviour be allowed? It's definitely not a big deal, but it is something to note.

[2021-09-29 03:27] Benjamin-Etheredge opened #212 "Bug: AbstractBattle._weather is mixing dicts with Weather type"
I noticed `AbstractBattle.weather` was returning dicts sometimes when the type hint said `Weather`. I noticed some parts of the code base store it as a dict of what turns it activated. Was this intentional or a missed change?

[2021-09-29 04:08] Benjamin-Etheredge commented on #207
@hsahovic
I kind of want to implement it in a way to work for `RandomPlayers` and ones that are handed a policy to follow. The messy part is bridging the embeddings over.

Would it be better to just create a `DummyPlayer` that takes policies in? So the user would need to create callables that take in a `Battle` and output and `int`.
So this:
[code]

Or would it be better to create the `DummyPlayer

[2021-09-29 04:12] Benjamin-Etheredge commented on #207
Or, the `PlayerEnv` could do the wrapping of the policy. It could have a maker for using its own `embed_battle` to output a policy.

[2021-09-29 22:10] arcaputo3 commented on #198
@Benjamin-Etheredge would you mind sharing this notebook in your forked `examples`? Really love this idea as I've had issues with `keras-rl2` and the fact that it's no longer maintained.

[2021-09-30 00:11] hsahovic commented on #198
@Benjamin-Etheredge I'd happily add examples to the docs if you have a minimally running rl example that uses another framework!

[2021-09-30 00:17] hsahovic commented on #207
I think that it's easier to create a custom class instead of having a `DummyPlayer` system, eg:

[code]

You can also add policy parameters if need be:
[code]

[2021-09-30 00:23] hsahovic commented on #208
I don't think that `uuid`s is the way to go - using the counter-based solution creates a clearer sequence of player usernames, which can be useful when debugging or running certain types of algorithms (eg. genetic algorithms with a clear number / generation correlation).
If you can provide a snippet to reproduce this issue, I'll gladly issue a fix (probably using a `Lock` object).

[2021-09-30 01:25] hsahovic commented on #209
Thanks for bringing this up. I am working on a fix, but it is currently breaking other part of the parsing logic - I'll fix it properly sometime this week.

[2021-09-30 01:26] hsahovic commented on #211
Thanks for bringing this up. I wasn't aware that this wasn't the expected behavior - I'll get a fix in this week.

[2021-09-30 01:29] hsahovic commented on #212
This is a good catch. I think the implementation was meant to be a one-size dict mapping the active weather to its activation turn. That being said, I can see why it would make sense for it to be a simple `Weather` object instead. If we were to implement that change, how do you think we should store the weather activation turn? A separate attribute?

[2021-09-30 04:29] Benjamin-Etheredge commented on #198
So the work going on to rework the gym wrapper would make this environment work with any other algorithms. I've got it working with the PPO example from pytorch lightning right now.

I've got a minimal viable conversion of the PlayerEnv to work with gym over at #213. With it, any example code that uses `gym.make(..)` would work. I'm still playing around with how to make it better.

[2021-09-30 04:41] Benjamin-Etheredge commented on #208
I'm not sold on uuid either. It is ugly and hard to track. I had to start logging player names to follow what was going on.
I like the more sequential nature, but it leads to collisions when two default configurations are used.

I reproduced it by making a python file with the example code (heads up, there is a typo in the indentions of that example code too)
[code]

 1. Make a python file with th

[2021-09-30 04:42] Benjamin-Etheredge commented on #208
Is there a way to store player names as a side effect? Or maybe to catch the "Someone is already using that name" in the default configuration and keep incrementing till the name is free?

[2021-09-30 04:43] Benjamin-Etheredge commented on #209
No worries. I figured you could get to the bottom of it way faster than I could. I'm just ignoring the 5th move for now.

[2021-09-30 04:45] Benjamin-Etheredge commented on #211
It technically isn't a bug. The behavior is undefined, so you can treat it however you want.

But I am partial to it throwing an exception in the case of stepping past `done`. I would think doing so is indicative of a bug in the user's algorithm's code.

[2021-09-30 04:52] Benjamin-Etheredge commented on #212
That's a good question. I'm not sure we should care about the weather activation turn right now. I feel like keeping up with the history of how long ago it was up fits nicely into a future history tracking feature.

For now, I'm tracking weather in my agent by just stacking battle embeddings for history. The networks can see a weather embedding and figure out it changed and how long it might go on

[2021-09-30 05:07] Benjamin-Etheredge commented on #207
I like the idea of making `_opponent` a property. That could work nicely.

I would lean away from passing in parameters for it to use a policy with. I like the idea of making users give it a `Callable` that takes in a `Battle` and returns a `BattleOrder`. It makes it more flexible.

There was a bug in my `DummyPlayer`. Below is the one I have working now.
[code]

By forcing the user to create the

[2021-09-30 08:26] Benjamin-Etheredge commented on #207
After thinking on it some more, I like your approach of having an `_opponent` and setting it. I'm not able to see which policy from my queue of policies is being battled currently. With the `_opponent` way, it would allow better tracing when watching the showdown battles. I'll try switching to that type of approach soon.

[2021-09-30 13:22] arcaputo3 opened #214 "Trouble getting `examples/rl_with_open_ai_gym_wrapper.py` to work properly"
This happens when executed with Python (3.6.13) in a conda environment. I receive the following error:
[code]

I am guessing this has to do with a dependency issue - attached is a `requirements.txt` containing all installed packages:
[code]

[2021-09-30 13:24] arcaputo3 commented on #214
I should note that this ONLY occurs in a Jupyter setting. When executed with Python directly there is no issue.

[2021-10-03 03:07] Benjamin-Etheredge commented on #207
Another path to explore would be to simplify `PlayerEnv` to **just** return battles for step. Having users extend the class to generate embeddings can get messy and complicated. It might be better for them to write wrappers to generate embeddings with a gym wrapper rather than class inheritance. That also appears to be my gym-like.

[2021-10-03 03:09] Benjamin-Etheredge commented on #208
An additional note for why this needs updating:
I'm exploring using openai baselines (and other forks). One key element for algorithms is parallel environments. I'm able to get parallel environments working more easily thanks to patching default configuration generation to not collide on player names.

[2021-10-03 12:33] hsahovic commented on #214
Hey @arcaputo3,

I think that this might be a weird interaction caused by Jupyter. I'll take a look at it.

[2021-10-04 01:19] hsahovic commented on #119
I just added an example of a very artisanal approach to self-play [here](https://github.com/hsahovic/poke-env/blob/master/examples/experimental-self-play.py). Let me know if things seem weird (in another issue if possible).

[2021-10-04 02:14] hsahovic commented on #214
I tried getting the example to run in Jupyter, to no avail.
Jupyter creates an event loop, which is interfering with the way `play_against` is currently implemented. This should be fixed in future updates that include large changes to `play_again` and `EnvPlayer` in general.

I would recommend not using jupyter to run your training scripts.

[2021-10-04 02:26] hsahovic commented on #209
#215 should take care of it :)

[2021-10-04 02:26] #209 closed

[2021-10-04 02:31] hsahovic commented on #211
Fixed by 0d28f11269e6d703264bde018e653b8dc7023931

[2021-10-04 02:31] #211 closed

[2021-10-04 02:40] hsahovic commented on #212
Fixed by 30462cecd2e947ab6f0b06b0f2febbdde3918366 - `battle.weather` is now always (and documented as) a `dict` mapping up to one `Weather` object to an `int` corresponding to its start turn.

[2021-10-04 02:40] #212 closed

[2021-10-04 06:41] Benjamin-Etheredge commented on #209
I had no idea it would be that involved. Awesome work!

[2021-10-13 09:22] lolanchen opened #218 "minor login problem"
Hi Harris, it's been a while since I last touched my RL pokemon project so I decided to update both poke-env and Showdown to the lastest commit, specifically:

poke-env:
[code]

showdown:
[code]

then I run [my old training script](https://github.com/lolanchen/pokeenv-pfrl-test-script/blob/main/example_pfrl.py) again and poke-env was not able to login to the server.

This seems to be cause by a ch

[2021-10-14 13:15] #218 closed, assigned to hsahovic

[2021-10-24 05:35] akashsara opened #221 "Inconsistency in AbstractBattle vs Battle"
Hi,
There seem to be a few inconsistencies within the Battle objects. I don't think they really affect anything in terms of implementation, but it required me to jump around between different pieces of the documentation and the code to figure things out.

1. AbstractBattle has a method `opponent_can_dynamax` but no `can_dynamax`. While both are implemented in Battle, it's just a bit strange that `

[2021-10-25 04:58] akashsara opened #222 "Timer for Fields/Weather/SideConditions?"
Hiya,
I was wondering if there's any way to access the timer for weather and other effects like reflect etc. On Pokemon Showdown this is usually visible as a small piece of text showing the minimum number of turns the effect lasts as well as the maximum possible turns.

Image for reference:
![Screenshot_20211024225057](https://user-images.githubusercontent.com/10437649/138636600-6d49d105-cc63-4aa4

[2021-10-29 06:20] akashsara opened #223 "Difference in ability name format between Pokemon.possible_abilities and Pokemon.abilities"
Title essentially.

I got:
[code]
Is there any reason for this difference in text formats? Reasons aside, I was wondering if this was just a matter of lower casing and removing spaces? If that's all is happening, I can handle the difference in code.

The Pokemon in question is Nidoking if that's necessary.

Also, according to the documentation `Pokemon.possible_abilities` is supposed to have a for

[2021-10-30 22:12] akashsara commented on #223
okay so after some digging, I've found two places that set a Pokemon's ability:

[code]
Here the ability is coming from the Pokedex.json file. Everything is set to the `Sheer Force` format here.

and

[code]
I'm not sure where the ability name is coming from here, but it seems like it's of the `sheerforce` format.

Having separate formats is something that I can tackle via code but there is one sp

[2021-10-30 23:35] hsahovic commented on #223
This should be fixed by #227

[2021-10-30 23:49] hsahovic commented on #223
#227 is merged, and will be released later today with version `0.4.21`.

Thanks a lot for your feedback @akashsara - I really appreciate. Let me know if you find any other issues!

[2021-10-30 23:49] #223 closed

[2021-10-30 23:57] akashsara commented on #223
Awesome, thank you for all the help! Am I right in assuming `sheerforce` will be the format used everywhere then?

[2021-10-31 00:25] hsahovic commented on #223
Yes, that is correct.

[2021-11-02 06:13] EllangoK opened #229 "(None, 22) Tensor is is not an element of this graph, when trying to get examples/rl_with_open_ai_gym_wrapper.py to work"
Hi, I was trying to run examples/rl_with_open_ai_gym_wrapper.py on an Ubuntu 20.04 system natively just from terminal, and I keep on running into this error

[code]

from here

[code]

I thought this was a compatability error, so I tried to install older tensorflow versions as I saw [this](https://github.com/hsahovic/poke-env/issues/214) was using tensorflow==2.0.0b1 and they mentioned it working.

[2021-11-02 06:15] EllangoK commented on #198
@Benjamin-Etheredge I would also like to ask if you still have the pytorch or whatever version you made and would like available as I have had difficulties with the existing examples.

[2021-11-02 12:51] hsahovic commented on #229
Hi @EllangoK,

Can you try pinning `keras-rl` to version `1.0.3`?

[2021-11-02 14:38] DableUTeeF commented on #229
I use `keras-rl2` version `1.0.3` with tensorflow `2.0.0` to `2.4.1` and get this error
[code]

[2021-11-02 14:42] DableUTeeF commented on #229
This solve the issue on my TF 2.4.0 https://stackoverflow.com/a/66955935/9477338

[2021-11-02 15:13] hsahovic commented on #229
I'm glad to hear it. I will add revisiting this example / the docs to my todo list.

[2021-11-02 15:20] DableUTeeF commented on #229
@hsahovic Actually I'm not the original asker. Not sure if my solution work for him or not.

[2021-11-02 16:23] EllangoK commented on #229
How are you getting keras-rl2==1.0.3 installed?

I keep on getting this error, and like I previously mentioned I never figured out how you got tensorflow==2.0.0-beta, I only ever got 2.0.0
Also doesn't really make sense since @DableUTeeF said he was using keras-rl2=1.0.3 but TF 2.4.0

[code]

[2021-11-02 16:28] DableUTeeF commented on #229
@EllangoK I use `pip install --no-deps keras-rl2==1.0.3`

[2021-11-02 16:30] DableUTeeF commented on #229
The `--no-deps` is a shortened `--no-dependencies`.

You just install the package and ignore whatever the package want you to install.

[2021-11-02 16:31] EllangoK commented on #229
@DableUTeeF thanks!

Yeah, that works combined with your earlier link of modifying the len if statement in DQN agent, I really appreciate it.

[2021-11-02 16:31] #229 closed

[2021-11-02 16:47] hsahovic commented on #229
Thanks for both of your feedbacks - I'll revisit this example as it's clearly outdated.

[2021-11-03 14:17] DableUTeeF opened #230 "After trained the RL in the example, how to use that model to play against myself"
I basically put
[code]
Above the `if __name__ == "__main__":` and call this
[code]
Right after `model.save`. It successfully init the challenge but it then wait forever after I click a move.

The code I used runs just fine using RandomPlayer or MaxdamagePlayer.

[2021-11-04 05:33] DableUTeeF commented on #230
Not so elegant solution but work for me.

I added these to `SimpleRLPlayer`
[code]
Then add `env_player.model = model` before `asyncio.get_event_loop().run_until_complete(play(env_player))`

[2021-11-04 05:33] #230 closed

[2021-11-04 22:12] akashsara opened #231 "Query About SideConditions"
Hi!
I was wondering if there was any specific reason for having a different value returned in `battle.side_conditions` and `battle.opponent_side_conditions` for `SPIKES` and `TOXIC_SPIKES` alone. I understand that they are stackable conditions, but would it perhaps make more sense to use something like `SPIKES1`, `SPIKES2`, `SPIKES3` instead like how `PERISH_SONG` is handled in `environment.effect

[2021-11-11 03:34] hsahovic commented on #231
Hey @akashsara,

Thanks for bringing that up. This organization is an artifact of the way showdown messages are sent and parsed, but it could be overrun if there was a clear benefit to it.
It like your idea of having distinct values for `SPIKE` states, in the same spirit as `PERISH_SONG`. I will think about it.

[2021-11-11 03:44] hsahovic commented on #221
This should be fixed by #232

[2021-11-11 03:44] #221 closed

[2021-11-11 22:10] akashsara commented on #231
So I definitely do think that there is a clear benefit here since the number of instances of each side condition makes a significant impact on the result (12.5% damage for 1 stack of spikes to 25% for 3 and Poisoned vs Toxic Poisoned for toxic spikes). So I think in any case where someone is going to be using the side conditions in a state, this would have use.

But mostly, it's the function retur

[2021-11-15 23:34] Angelo942 opened #233 "Question: usefulness of _register_teampreview_pokemon"
Hi, I was editing the AbstractBattle class to help me work on predicting information about the enemy team and in particular I wanted to change _register_teampreview_pokemon¹ to fill from the start _opponent_team when we know the composition.
Reading the comments² I thought the reason why wasn't implemented this way is that during doubles the identifier depends on which side the pokemon first appea

[2021-11-17 16:33] Angelo942 opened #235 "Typo in abstract_battle: get_pokemon"
Hi, the error for exceeding the team limit¹ had the intention to show which Pokemon we are trying to add, right?
[code]
for now the code just repeats the player_role (identifier[:2]) instead of writing the Pokemon's name or the full identifier:

[2021-11-19 03:25] #235 closed

[2021-11-19 03:26] hsahovic commented on #235
Thanks for the report @Angelo942 - that's a good catch.

[2021-11-19 03:43] hsahovic commented on #233
Hey @Angelo942,

This is a good question. The short answer is that not all pokemons shown in teampreview will take part in the battle (think VGC, where you pick 4 out of 6 mons).
The longest answer is that this code was part of the doubles support feature, and was kind of overlooked - we could deal with teampreview more thoughtfully.

Here are three improvements I'll implement that come to mind:

[2021-11-19 21:31] Angelo942 commented on #233
Oh, I missed that part.
I don't have a particular need for the teampreview so I don't know what could be improved, but just including it in the documentation may already be interesting.

What do you mean by with the third point?

(And for problems with different forms yes, I ended up - please don't cry seeing how I'm brutalizing your code (/▿＼ ) - just changing it to `f"{player}: {name.split('-')[

[2021-11-23 12:08] mancho2000 opened #238 "Rllib custom models"
Hey Haris,

I am having trouble with making Rllib work with a custom model. Here is a link to their documentation:
https://docs.ray.io/en/master/rllib-models.html?highlight=tfmodelv2#custom-models-implementing-your-own-forward-logic

They also provide an example:
https://github.com/ray-project/ray/blob/master/rllib/examples/custom_keras_model.py

I am completely lost in this haha so I can't really

[2021-11-26 19:44] akashsara opened #239 "Bug with Pokemon.preparing"
Hi Haris,
There's a bug with the `Pokemon._prepare`. Specifically, it's supposed to return a boolean value and when there is no preparation it does return False. However, when it's supposed to return True it instead returns a tuple of `(move, target)` (Ref: pokemon.py line 261). So instead of receiving True, I receive something like `('Bounce', None)`.

I would change it myself and submit a PR but

[2021-12-01 17:57] LostGeorge opened #241 "Is there a way to determine slot conditions within a battle?"
I am trying to get an RL agent to learn specific team setups, one of which is similar to the gen8ou example you all provide, containing a Sylveon that has Wish. When looking through the code, I can see that the wish move of the Sylveon has the `slot_condition` `"Wish"` that characterizes the HP restoration at the end of the next turn.  But in that next turn, I'd like my state embedding to be able

[2021-12-03 00:46] hsahovic commented on #241
Hey @LostGeorge,

Thanks for opening this issue. I'll look into it.

[2021-12-03 00:47] hsahovic commented on #239
Hey @akashsara,

Thanks for opening this issue. I'll look into it.

[2021-12-03 01:05] hsahovic commented on #241
That's a very good catch. Showdown doesn't send any specific kind of message related to these, and they are currently ignored by `poke-env`.
However, we can infer the list of moves to store as activating a `slot_condition` from the moves dataset.
Would a `move_id -> (turn, mon that activated it)` dict work for your use case?

[2021-12-03 01:53] hsahovic commented on #239
Good catch - it should be fixed! You can now do `pokemon.preparing_move` and `pokemon.preparing_target`, in addition to `pokemon.preparing`.

[2021-12-03 01:53] #239 closed

[2021-12-03 02:09] hsahovic commented on #238
Hey @mancho2000,

Could you share the version of your code that works? If you don't want to make it public, we can talk via discord.

[2021-12-03 03:39] LostGeorge commented on #241
So would this mapping be stored in the `battle`? That would definitely work for my case.

[2021-12-03 10:38] mancho2000 commented on #238
In this past days I updated my RLlib and now its not even starting any battles, they must have changed something on their end. I can't figure out how to get this working again, which I need to do before taking on the custom model stuff mentioned in my above comment. This is the code you provided us more than a year ago, which I have been using to build upon all this time, and now does not work:

[

[2021-12-03 18:34] hsahovic commented on #241
Yes, it would.
I'll add it to my todo list; I'll take a look at it over the weekend. Depending on how much work is required, it might be released then or later this month.

[2021-12-04 18:51] #233 closed

[2021-12-08 15:16] BUCKFAE opened #244 "Memory Leak caused by ForfeitBattleOrder"
## Issue
I'm trying to create a Player that always instantly forfeits. I'm doing this because i want to generate all possible pokemon builds that appear in random battles. However my memory is slowly but steadily filling up when i run the example program below.
Interestingly, once the python program has finished, the memory is not released until i manually shut down the local showdown server.
This

[2021-12-10 07:58] hsahovic commented on #244
Hey @BUCKFAE,

Thanks for reaching out. I was able to reproduce what you observed. I started looking into potential causes, but haven't found a clear answer. I'll take a deeper look at it this week.

[2021-12-10 17:22] mancho2000 opened #245 "bdsp in optimized showdown fork"
Hey Haris,

Any chance we can get the new bdsp modes in your optimized showdown fork? :)

[2021-12-15 11:11] BUCKFAE commented on #244
I just updated to `python 3.10`.
The issue is still not resolved but it seems to have at least improved things a bit.

[2021-12-21 18:23] pmariglia opened #246 "Battle-log not parsed before `choose_move` is called (in some situations)"
Relevant console log:
[code]

The state is a random battle. p1a (the bot using poke-env) selected uturn with Dragapult. The opponent p2a selected to switch from Hitmontop to Aerodactyl.

Because forceSwitch is true, the bot immediately calls `choose_move` before parsing the very important data about what actually happened. The `request` JSON will contain information about the bot's side of the fie

[2022-01-10 16:30] edugzlez opened #249 "How can I see the log of a battle?"
I'm trying to get the statuses and actions performed in a battle.

It's possible? How can I do it?

[2022-01-11 11:31] hsahovic commented on #249
Hey @edugzlez,

If depends what you want to do exactly. If it's only for review / understanding what's going on, you can:
- Display logs of battles by setting `log_level=20` when instanciating a `Player` object. This will log every message received and sent to showdown, encoded with `<<<` or `>>>` starting characters
- Save battle replays by setting `save_replays=True` when instanciating a `Player

[2022-01-11 11:33] hsahovic commented on #245
Hey @mancho2000,

The optimized fork is not maintained anymore, as all its features have been merged into the main showdown repo. You just need to do `node pokemon-showdown start --no-security` on an up-to-date version of the official server, and you'll get all the benefits of the optimized fork in terms of throttling, ease of use and performance, while still being up-to-date in terms of data and

[2022-01-11 11:33] #245 closed

[2022-01-13 08:59] mancho2000 commented on #245
Hey,

Thanks, I did this but now my agent is not starting any battles. I tried manually starting a random battle against myself to check that the server is working properly and it is.
This is the message I get:

2022-01-13 09:56:55,066 - SimpleRLPlayer 1 - WARNING - Received pm: |pm| SimpleRLPlayer 1| MixedDamagePlaye 1|/challenge gen8randombattle|gen8randombattle|||
2022-01-13 09:56:55,066 - Mixe

[2022-01-16 09:51] edugzlez commented on #249
That's enough. Thanks!

[2022-01-16 09:51] #249 closed

[2022-01-18 05:26] VolundrAI opened #251 "Pokemon volatileStatus"
This might be a simple issue of not finding where to check, but some moves like minimize cause a "volatileStatus" that doesn't seem to show up in effects, side conditions, or anywhere that I can find.

Is this something that still needs to be implemented, or is there somewhere we can check that a Pokemon is impacted by a specific volatile status.

Thanks in advance!

[2022-01-19 00:25] acxz opened #252 "Build error with newer setuptools>58.5.3"
Command: `python setup.py build`

Error Log:
[code]

[2022-01-19 12:11] #252 closed

[2022-01-19 12:13] hsahovic commented on #252
Thanks @acxz !

[2022-01-24 05:51] Travis-Barton opened #254 "Keras-rl2==1.0.3 not compatible with any current hosted tensorflow"
Hey all,

We are trying to run through the example: https://poke-env.readthedocs.io/en/latest/rl_with_open_ai_gym_wrapper.html#rl-with-open-ai-gym-wrapper

however, when we run the file, we get:

[code]
This is caused (we think) by the fact that we weren't using Keras-rl2==1.0.3. So we tried to downgrade but now Keras-rl2==1.0.3 is no longer compatible with TensorFlow 2.7 (it wants TensorFlow==2.0

[2022-01-24 06:11] Travis-Barton commented on #254
[code]

[2022-01-25 21:05] hsahovic commented on #254
Hey @Travis-Barton,

Thanks for opening this issue, and sorry for the delay. I will try to find a workaround - alternatively I'll add an example with an up-to-date framework.

[2022-02-10 00:18] yellowface7 opened #260 "'NoneType' object has no attribute 'message' Error"
I am new to both Python and poke-env.

I thought I was doing decent until I got the following log:

`
PS G:\Projects\BotRepo> & C:/Users/REDACTED/AppData/Local/Microsoft/WindowsApps/python3.8.exe g:/Projects/BotRepo/TestBot.py
Health: 233
Health: 233
2022-02-09 19:06:44,181 - yellowfac2 - ERROR - Unhandled exception raised while handling message:

|player|p2|yellowfac2|170|
|teamsize|p1|6
|teamsiz

[2022-02-10 00:36] hsahovic commented on #260
Hey @yellowface7,

For you bot to function, `choose_move` should always return a `BattleOrder`. Here, your code is testing if your active pokemon can use a move, and if its health is low, it will use the move that will restore as max HP as possible.

However, if your hp is not low, or if your pokemon can not use a move (for instance, if it fainted and needs to be switched out), `choose_move` will

[2022-02-10 01:30] yellowface7 commented on #260
After the last part of the code I shared, I had an else statement. I have a better understanding of choose_move thanks to the explanation. I decided to take a better look at the getting started section in the docs since I jumped right in previously.

[2022-02-10 06:10] dakshjotwani commented on #254
Hey - any updates on this? I'm running into the same issue

[2022-02-10 11:54] VolundrAI commented on #251
I created a pull request solving this issue if you want to take a look at it

[2022-02-20 08:50] DocLevCrav opened #265 "Gen 1 - 3 Support"
I am currently using poke-env to create a bot to fight in gen 1 battles, because they have the least amount of mechanics. This is just an enhancement, but I hope this can be fixed so that I can improve my bot.

[2022-02-25 15:25] DiTo97 opened #266 "typo in the OpenAI Gym wrapper example"
I just read the docs for reinforcement learning purposes, and I see a typo in the OpenAI Gymnasium wrapper example at https://github.com/hsahovic/poke-env/blob/master/examples/rl_with_open_ai_gym_wrapper.py#L36, which is shown in the docs. If you want to account for the number of remaining Pokémons in both parties, shouldn't you filter for `if not mon.fainted`?

[2022-02-25 20:07] DiTo97 commented on #190
Hey @hsahovic,

Having followed pretty closely the approach @aed3 used for his [FS AI](https://www.pokemonbattlepredictor.com/FSAI) - what I consider the current best the singles Pokémon-playing AI - I thought quite a bit on how to add battle state serialization to your environment in order to improve the training of RL agents with tree search (i.e., MCTS, as mentioned in #9) by making use of Poké

[2022-02-25 20:21] aed3 commented on #190
Can confirm this works as it's exactly what I do for my AI. Although, if speed is a priority, it may be worth editing the Battle.toJSON function to save less info as there's a lot of unnecessary data if you're just battle simulating and the function is pretty slow.

[2022-02-25 20:41] DiTo97 commented on #190
Thanks for sharing the info @aed3,

What kind of speedup are we talking about? Even with a small branching factor, such an AI would have many look-ahead simulations to carry on. If the gain is considerable, what you're suggesting may be the way to go about this. I have to yet to check Showdown's toJSON function in detail, but I assume you have made some kind of profiling between the complete imple

[2022-02-27 09:18] szymonWojdat commented on #190
Animations are done on the [web client's side](https://github.com/smogon/pokemon-showdown-client), poke-env is running a headless client, meaning no HTML/CSS is involved.

I think the key is to check whether there's a websocket interface for `Battle.toJSON()` and `Battle.fromJSON()`. I do remember looking into it like a year ago but there was something in the way that wasn't trivial and it wasn't

[2022-02-27 13:18] DiTo97 commented on #190
Thanks for the clarification, @szymonWojdat.

Do you remember where you looked to investigate whether a websocket interface is available? At the end of next week I should have some spare time to look into this. At worst, we might even ask Showdown's developers directly. I agree that this **was not** a key feature of the environment, but seeing how much the Pokémon AI community has been inspired by

[2022-03-03 01:13] gregory-carlton commented on #254
Has anyone found a fix for this yet?

[2022-03-07 08:30] akashsara commented on #254
I don't remember where I got the files from but I put them into my repo so that I can set up the environment anywhere. Feel free to grab the wheel files from there and pip install them.

https://github.com/akashsara/meta-discovery/tree/main/tensorflow_2.0.0b1_whl

[2022-04-04 22:36] Biscoito45 opened #277 "Use Battle class for PvP battles"
I am trying to use poke-env to make an AI to play pokemon battles for me in the DS games. The simplest form to do so, would be to teach the AI to win a specific battle with my team, and then use it to tell me the best moves in each scenario. But, in order to get the AI's command, I need to generate the input data for the Neural Network, which is tough to do by hand. I would like to know if there's

[2022-04-26 05:03] godpow opened #286 "Issue running ai"
I know this probably the best place to put this but does anyone know how to fix this issue?
`2022-04-26 01:02:59.326598: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX AVX2
To enable them in other operations, rebuild TensorFlow wi

[2022-04-26 06:03] godpow commented on #286
model.add(Flatten(name='Flatten1'))
    model.add(Dense(64, name='Hidden1', activation="elu"))
    model.add(Dense(n_action, name='Hidden2', activation="linear"))

[2022-04-29 02:04] #286 closed

[2022-05-08 09:23] Phiarlan opened #287 "Multiple battle formats for a single agent?"
Hello! I've been toying with this environment over the past few days and I really like what I've been able to achieve with this repo so far! One thing that's been a stumbling block for me (and doesn't seem to be mentioned in the docs?) is that I can't seem to set an agent to accept challenges for multiple formats (for instance, allowing it to accept a challenge for either "gen8randombattle" or "ge

[2022-05-08 23:23] hsahovic commented on #287
Hey @Phiarlan! This is currently not implemented, but would be doable. For your use case, what would be a good way to deal with teams per format?

[2022-05-08 23:24] hsahovic commented on #265
Hey @DocLevCrav ! Have you tried using poke-env with gen 1?

[2022-05-08 23:25] hsahovic commented on #266
That's a good catch!

[2022-05-08 23:26] hsahovic commented on #266
That's a good catch - thanks @DiTo97 !

[2022-05-08 23:49] Phiarlan commented on #287
Hi, thank you so much for the quick response!

I'm a newbie when it comes to using Python, so I'm afraid my suggestions will be a little less concrete. If there were a way to assign formats to an agent, whereupon it would accept challenges from any of those formats listed, that would be great! Perhaps splitting battle_format into two separate parameters (one for accepting challenges which could do

[2022-05-08 23:58] DocLevCrav commented on #265
Yes I have, and when I do so it says that it uses Gen 4 data instead of Gen 1, because it is not available. It works, I just hope there will eventually be complete Gen 1 - 3 support

[2022-05-15 08:29] haasj22 opened #288 "Team in TeamBuilder Example Outdated"
This is a really minor issue, but the team in the teambuilder example uses Cinderace and Kings Rock, which are banned in gen8ou.

You could change the example to use Anything Goes format so that you do not have to worry about updating the examples. The issue is really minor, but I just wanted to document it.

[2022-05-15 08:45] haasj22 opened #289 "Question: What's the extent of the doubles support"
I was hoping to use this project to make agents that play pokemon doubles.

I have followed the documentation to get two agents two play each other with a custom gen8ou team; however, if I change the format to gen 8 doubles, the program stops working and battles no longer start on the server despite both teams being valid gen 8 ou doubles. Does this framework not support doubles at all or do I jus

[2022-05-17 14:01] carbonbased-lifeform opened #290 "Effects persist even after they end"
There seems to be an issue with certain effects (`Pokemon.effects`) persisting until the Pokémon is swapped out. Attached below are a couple examples:
![image](https://user-images.githubusercontent.com/105716748/168799184-e7702f72-cd6e-452f-b0b9-0dc2202c59e4.png)
![image](https://user-images.githubusercontent.com/105716748/168799615-e34bc970-b8c1-4b96-8c10-10f3e1a39767.png)
Clearly Max Guard will

[2022-05-25 16:56] Bobcow40 opened #291 "Support for VGC2022 Doubles"
As a VGC 2022 competitor I would really like support for VGC2022 Doubles format for reinforcement learning with Open AI GYM.

If there's anything I can do to help the process please let me know.  Or if there's ideas on ways to go about this myself, I'm happy to help and do what I can in the process as I think it would be really cool to have support for VGC2022 Doubles!

Thanks!

[2022-06-11 21:39] akashsara opened #292 "Question about battle.available_switches"
Hi @hsahovic,
I've been working on a reinforcement learning agent and had a question about the battle.available_switches.

From `poke_env/environment/battle.py` I can see that `battle.available_switches` is based off this code snippet:

[code]

Now if I'm reading this right, available switches only gives us a list of pokemon that are available to switch to.

However, in `player/env_player.py`, we

[2022-06-12 04:26] akashsara commented on #292
Okay so apologies if the previous message was a little rambly, I was half asleep haha. I dug a little deeper and got an example for you to make it a bit clearer.

Start of the battle:
[code]

[code]

After 1 Pokemon Faints:
[code]

[code]

So now the problem here is if I wanted to switch to, say Aggron, I would use an action of `16` since Aggron is the first Pokemon in battle.team. However, when I

[2022-06-12 15:09] mancho2000 commented on #292
Hey,

if you solved this could you please share it so I can fix it as well?

[2022-06-12 16:08] hsahovic commented on #292
Hey @akashsara,

Thanks for opening this issue and taking the time to look into the detailed implementation. You are right in your conclusion: the gym API is not expecting actions based on the order of mons in `battle.team`, but on the order of mons in `battle.available_switches` - this is also true for `battle.available_moves`. This is not a bug, but a feature: `available_switches` is meant to be

[2022-06-12 16:08] hsahovic commented on #288
Thanks for the report! I'll get to it when I have some time.

[2022-06-12 16:10] hsahovic commented on #290
Thanks for this report! I'll get to a fix when I have some time. Alternatively, this would be a good first issue for anyone looking to contribute :)

[2022-06-12 16:12] hsahovic commented on #289
Hey @haasj22,

Thanks for this report. Gen 8 doubles should be supported - was there any error in the logs? I can take a look at it when I have some time, but this should be working (and we have some integration tests involving doubles that currently work fine).

[2022-06-12 16:14] hsahovic commented on #291
Hey @Bobcow40,

Currently, doubles support does not include the Gym API. However, it should be doable with a bit of work - if you want to get started I would recommend starting by looking at [this class](https://github.com/hsahovic/poke-env/blob/2e3f157ccbad192e4ae7f383c93beb61696a4db3/src/poke_env/player/env_player.py#L19).

[2022-06-12 21:46] akashsara commented on #292
Hi @hsahovic,
Thanks for the information. I agree that having `available_switches` as a source of truth makes sense, but I don't know if it makes sense to use that ordering in `action_to_move()`.  From my perspective at least, it forces a user to define a custom `action_to_move`/use a mapping if they want to be able to switch to a particular Pokemon. At the same time I can see why we need `availab

[2022-06-13 04:38] akashsara opened #293 "Inconsistency between battle.won and battle.lost"
`abstract_battle.py`

[code]

`won()` can return any of (`None`, `True`, `False`) but `lost()` will always return one of (`True`, `False`) since `None is False`=True

[2022-06-13 04:52] akashsara commented on #292
I also found a potential issue while defining my custom `action_to_move`. The currently implemented version does the following:
[code]
Specifically, it lets you pick a move only if `battle.force_switch` is False. However, if you have no Pokemon on the bench, you won't be able to switch Pokemon at all. So despite performing a legal action, the code automatically returns a random move.

From my test

[2022-06-14 05:06] akashsara opened #295 "Bug with battle.force_switch"
So there's actually two bugs. The first is what I mentioned [here](https://github.com/hsahovic/poke-env/issues/292). Specifically, in the scenario where `battle.force_switch` is True and there are no Pokemon left on the bench, both `battle.available_moves` and `battle.available_switches` are empty.

I fixed this while defining a custom `_action_to_move()` function but encountered a second bug. Spe

[2022-06-14 20:39] akashsara commented on #295
This might be related to #246

[2022-06-15 07:59] akashsara commented on #292
@mancho2000 here's the custom `_action_to_move` function I'm using.
[code]

[2022-06-15 23:26] akashsara commented on #295
Another weird scenario:
[code]
`battle.available_moves` and `battle.moves` have completely different values.

[2022-06-16 08:44] hsahovic commented on #293
Thanks for the report! I'll review your PR shortly :)

[2022-06-17 07:48] akashsara commented on #295
Unfortunately not. This was the only error that popped up while training and I haven't been able to reproduce it since then. I've had the other two scenarios I mentioned happen multiple times though. At the moment I'm just printing these different values whenever I encounter a scenario with no legal actions so I haven't been able to investigate further.

[2022-06-17 08:46] hsahovic commented on #295
I have one potential idea for this problem's cause - I'll test it today. It's related to `requests` message resulting in an action before some messages arriving at the same time have been parsed, and should be addressable by deferring the choice.

[2022-06-17 22:58] #293 closed

[2022-06-17 23:55] hsahovic commented on #295
I experimented with my hypothesis - It was wrong. However, in doing so, I did identify the root cause of every example I looked at: Zoroark and illusion. `poke-env` sometimes wrongly sets the pokemon that Zoroark was impersonating as fainted when it faints, and doesn't:

1. Remove the fainted state when a request with contradictory information arrives
2. Correctly interacts illusion related messag

[2022-06-26 08:53] carbonbased-lifeform opened #296 "Enable true concurrent battles"
Currently, it is not possible to have concurrent battles. Although you can specify `max_concurrent_battles`, what it does (as far as I can tell) is spawn multiple battles but only allow you to call `choose_move` on them one by one. This greatly limits the speed of training as it is much more efficient to run many environments in parallel and batch the inputs than to process them one by one.

There

[2022-07-24 14:11] SomeRandomGuy009 opened #305 "Error"
TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

Python version:
3.8.13 and 3.10.5

poke-env version:
0.4.21

[2022-07-25 09:33] hsahovic commented on #305
Hey @SomeRandomGuy009,

Thanks for opening this issue. Do you have a script to reproduce this issue?

[2022-07-25 09:34] hsahovic commented on #296
Hey @carbonbased-lifeform,

Are you referring to the gym API or the general API?

[2022-07-25 09:53] SomeRandomGuy009 commented on #305
Yep, i'm not sure how to send it in a codeblock tho

[2022-07-25 09:53] SomeRandomGuy009 commented on #305
I was just testing your simpleheuristic and pmariglia's bot.. @hsahovic

[2022-07-25 09:55] SomeRandomGuy009 commented on #305
https://github.com/RemptonGames/Pokemon-Showdown-Agent/blob/main/OnlineBattles.py

I was using this code btw^

[2022-07-25 10:02] hsahovic commented on #296
In the general API, most of the time the bottleneck is not on `poke-env`'s side, but on pokemon showdown's side. Processing batches of battles on `poke-env`'s side would not make things faster - it would actually probably make things slower, as you would have to wait to have the state of `batch_size` battles ready to receive an order to process them.

In the gym API, your bottleneck might be on th

[2022-07-25 10:48] hsahovic commented on #296
Your remakes make sense w.r.t. running RL training, which is not what the general API is focused on (as opposed to the Gym API).
The out-of-the-box implementation of the gym API is focused on running a single battle at a time, but you can spawn multiple instances and organize your training flow to benefit from parallelization, including with batching. This is what the implementations I was referri

[2022-07-25 15:56] hsahovic commented on #296
`max_concurrent_battles` determines how many battles will be run at the same time by the `Player` object, and relies on `asyncio`. If you want to implement some kind of batching logic, as you were hinting towards, I'd recommend doing so directly in `choose_move` - everything else is doing parsing and / or state tracking, which wouldn't really benefit from parallelization.

[2022-07-25 23:40] akashsara opened #306 "Error encountered during player.ladder()"
Hi,
I was testing a model I trained on Pokemon Showdown (code snippet below) when I ran into this issue. I'm able to challenge the bot to a battle and play against it perfectly well but when I do `player.ladder(100)` it errors out after completing a single battle.

[code]

Model code:
[code]

Script:
[code]

[2022-07-26 15:20] akashsara commented on #306
Do you mean `poke_env.player.player.Player`?

[2022-07-28 03:21] MatteoH2O1999 commented on #306
Hey @akashsara,
I think you are using the old version of the gym player. Try to install from gh source as the new version should be able to do what you need pretty easily.
Let me know if you have any questions!!!

[2022-07-28 08:48] hsahovic commented on #305
@SomeRandomGuy009 I was able to reproduce the issue and fix it by setting the version of `gym` with: `pip install gym==0.24.1`

[2022-07-28 20:18] akashsara commented on #306
Thank you, I'll try that!

[2022-07-29 00:52] akashsara commented on #306
So it seems like there's a number of significant changes with the new version. I'm following `examples/rl_with_new_open_ai_gym_wrapper.py` right now and setting things up, but I was wondering when these changes would be pushed to the next public release? @hsahovic

I'm asking since due to some circumstances I'm running my code elsewhere and that machine has some issues haha. So I'd prefer being ab

[2022-07-29 20:57] akashsara commented on #306
Hey @MatteoH2O1999,
So I've updated my code to work with the new version. For completeness I trained a new agent as well. However I'm having issues with testing it on Showdown.

1. I can't get the `player.start_laddering()` function to run correctly. This is the code snippet I'm using:
[code]
If I set `start_challenging` to True I get this output:
[code]
If I set it to False the script just finish

[2022-07-30 10:04] MatteoH2O1999 commented on #306
Hi @akashsara,
to answer you questions I need to explain how the wrapper works: it is designed to be use as an environment and not as a normal player. It uses a custom player run in a background thread so the OpenAIGym API is exposed on the main thread.

Regarding your first question, the problem is you are not actually using the environment. To use it you should have something like
[code]

if you

[2022-07-31 22:46] akashsara commented on #306
Ah I see. Apologies for the misunderstanding. Thank you for clarifying. It's working now!

I should note that there is something a little weird still going on. I get this error everytime I run it, even though battles do seem to be starting and the agent I have seems to be playing:
`2022-07-31 18:39:13,537 - RandomPlayer 1 - ERROR - [WinError 1225] The remote computer refused the network connection

[2022-08-01 09:48] MatteoH2O1999 commented on #306
As a temporary workaround use `opponent='placeholder string'` in your env player. This is because by default a random player gets created. I think we'll change that in the next patch

[2022-08-01 09:56] MatteoH2O1999 commented on #306
Regarding the challenges part the famous "it's a feature not a bug" applies because accept challenges and send challenges should have the same effect: once you await them, the battle completes. This is impossible to implement by default as it would mean linking poke-env to a specific ML library

[2022-08-01 11:46] hsahovic commented on #306
@akashsara yeah I need to push a new release - i will take care of it this week.
What I meant by the base player class is something like this:

[code]

where `embed_battle` and `model` are standalone functions / objects - this should then work with `ladder` and other battling functions.

[2022-08-01 20:01] akashsara commented on #306
@MatteoH2O1999 Thanks! Does this mean there are no plans to have a method to battle against the bot in a custom battle at all? (Apart from the method Haris mentioned above)

@hsahovic Got it, thank you. That should work for me.

[2022-08-01 20:39] MatteoH2O1999 commented on #306
@akashsara,
For that there should be the method `play_against`

[2022-08-02 05:50] akashsara commented on #306
Ooh that works out for me. Thanks a lot @MatteoH2O1999

[2022-08-02 05:50] #306 closed

[2022-08-03 17:00] akashsara opened #312 "reset_env() fails if no battles have been played yet"
Hi, I'm using the latest version (as of two days ago) of the code here.

I call `player.reset_env()` multiple times to evaluate my model against different opponents. However, if the player hasn't played any battles before this call, it fails giving the following error:

`'NoneType' object has no attribute 'finished'`

I dived into the code and the problem seems to be in L520 of `openai_api.py`:

[

[2022-08-03 21:22] akashsara opened #314 "Selfplay?"
Hi,
So given the changes to poke-env, the old way of doing selfplay (`examples/experimental-self-play.py`) no longer works. I'm a little confused as to how I can do it now since there's no way of accepting a challenge in `openai_api.py`.

I essentially just want to be able to battle two agents inheriting from EnvPlayer. If I understand @MatteoH2O1999's comments on #306 correctly, this isn't possib

[2022-08-03 23:31] hsahovic commented on #312
I think this is a bug. I'd be happy to merge a PR for it :)

[2022-08-04 00:48] MatteoH2O1999 commented on #312
Yep,
didn't notice that.
Thanks @akashsara !!!

[2022-08-04 01:24] MatteoH2O1999 commented on #314
Hey @akashsara,
in general you should have something like
[code]
on one thread and
[code]
on another

[2022-08-05 16:30] mancho2000 commented on #314
Hi,

Can you guys add an example with this? It would be very helpful for those of us that don't have much coding skills yet would still like to enjoy making some agents :)

[2022-08-07 21:31] #312 closed

[2022-08-07 21:32] hsahovic commented on #312
Thanks @akashsara ! I merged your fix in :)

[2022-08-08 12:23] ahernandezmiro opened #316 "TypeError exception with Anaconda's Python 3.9.5"
Due to incompatibilities between wsl and keras/tensorflow I am trying to run everything under Anaconda. However, the following exception appears on any execution:
`...
 class EnvPlayer(Player, Env, ABC):  # pyre-ignore
TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases
`

Kind of weird since it was not happening when

[2022-08-08 13:34] hsahovic commented on #316
Hey @ahernandezmiro! Did you install `poke-env` through `pip` or via `git`?

Can you try `pip install gym==0.24.1`? The version that poke-env requires might have been overwritten.

[2022-08-08 17:04] ahernandezmiro commented on #316
Hi @hsahovic I installed poke-env through pip in the anaconda environment and I think I did the same for wsl.
Can confirm that this issue has been solved after reinstalling the mentioned gym package.
Now I see the following error
`from poke_env.player.openai_api import ObservationType
ModuleNotFoundError: No module named 'poke_env.player.openai_api'`
Should I close this issue and open a new one or

[2022-08-10 15:51] SomeRandomGuy009 opened #317 "Rewrite the examples"
People coming across this project are mostly beginners or people who don't know how to code. But, they want to test out the agents and battle them.
Most of the example code doesn't work , one of which is stated in https://github.com/hsahovic/poke-env/issues/314

[2022-08-11 17:00] Phiarlan commented on #287
Hey, @hsahovic! Just wanted to see how things were going on this enhancement. If things have been busy, that's fine - take your time! I just wanted to make sure it wasn't forgotten about.

[2022-08-13 11:57] mancho2000 commented on #317
Thanks for this. Being one of them, I would also appreciate if there could be more examples. Like using other libraries, self play, etc would be very nice

[2022-08-16 18:12] akashsara opened #320 "battle.opponent_active_pokemon is None"
Hi,
I encountered an odd situation during training where `battle.opponent_active_pokemon` was None. I was wondering why this would be the case. Even more odd is that `battle.turn` returns 0 and all Pokemon on both teams are alive. I should be able to reproduce this if I use the same seed in case you have any other questions.

[code]

[2022-08-16 21:31] akashsara commented on #320
I did a little more digging:
[code]

[2022-08-16 21:47] akashsara opened #321 "WARNING - Unexpected effect 'Quick_Draw' received. Effect._UNKNOWN will be used instead"
Title essentially. Every now and then during training I get this warning. I don't think it will really impact anything for me but just wanted to bring it up in case you weren't aware of it.

`2022-08-16 17:42:34,610 - poke-env - WARNING - Unexpected effect 'Quick_Draw' received. Effect._UNKNOWN will be used instead. If this is unexpected, please open an issue at https://github.com/hsahovic/poke-en

[2022-08-17 05:10] akashsara commented on #317
I've submitted a new version of selfplay on #322 but I'm curious as to which other example code doesn't work. I could take a look at it if you can point it out

[2022-08-18 04:35] akashsara commented on #321
Another warning that I receive often:
[code]

[2022-08-18 04:51] akashsara commented on #296
Hi @hsahovic could you point me to some implementations like the ones you mentioned here? I'm in a situation where I'd like to run a large number of battles (1M+) and would like to be able to speed things up by running multiple battles in parallel.

[2022-08-23 23:31] Sadlysius opened #324 ""ModuleNotFoundError" when importing certain modules"
Hello,

I found out about this project a few days ago and I've been toying with the provided examples. Most of them work fine except for the OpenAI-related ones as I get this error when importing the module: **ModuleNotFoundError: No module named 'poke_env.player.openai_api'**

I tried downgrading/upgrading Python, and also on different OS (Windows/Manjaro) but the error keeps popping up.

I may h

[2022-08-24 01:13] Sadlysius commented on #324
Nevermind, I solved the problem by installing directly from source instead of doing pip install poke-env. You can close this issue, and sorry for the troubles.

[2022-08-24 01:14] #324 closed

[2022-08-25 16:50] dhuey2 opened #325 "Max Damage Player Example Not Running"
Hello, I downloaded poke-env from github and have been trying to run one of the example files but keep encountering this error. Im wondering if its a problem with my installation or if I'm missing something. Thanks

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/98057485/186724010-b0c973ab-ed76-4d46-8a94-55916c9897e6.png">

[2022-08-25 20:21] mancho2000 opened #326 "Just a curiosity"
Hey everyone,

Do you mind sharing what elo is your agent and what does it play? I have been training some for random battles over the months without any decent results. Was curious of how others are doing :)

[2022-08-25 22:03] akashsara commented on #325
From #305, it seems like you need a specific version of gym. Try `pip install gym==0.24.1`

[2022-08-25 23:23] #325 closed

[2022-08-25 23:24] hsahovic commented on #321
Thanks! I'll add both of these

[2022-08-26 12:28] SomeRandomGuy009 commented on #326
try training in ou, in gen8 randbats, the nature is always random so kinda impossible to determine the exact stat

[2022-08-26 12:29] SomeRandomGuy009 commented on #317
pretty sure openai ones don't work too

[2022-08-26 14:18] akashsara commented on #317
If you pip installed poke-env, `rl_with_open_ai_gym_wrapper.py` should work. If you installed it directly from Github, `rl_with_new_open_ai_gym_wrapper.py`. Could you confirm which version of poke-env you have and which script you tried?

[2022-08-26 22:38] akashsara opened #327 "TeamBuilder: Validate teams?"
Hi,
I was wondering if there would be some way of validating a team we set up via team builder. I know Pokemon Showdown has a validator on their teambuilder page, would there be some way of accessing that?

I'm trying to run battles via the general API using custom teams and I sometimes get errors like this:

`2022-08-26 18:01:34,207 - GeneralAPISimple 1 - WARNING - Popup message received: |popup|

[2022-08-28 11:52] SomeRandomGuy009 commented on #317
ill try and let you know soon

[2022-08-28 11:53] SomeRandomGuy009 commented on #326
mine reached about 1700 and currently is at 1600+

[2022-08-28 14:22] mancho2000 commented on #326
woa nice! much better than mine :) was that in randbats?

[2022-08-30 11:43] SomeRandomGuy009 commented on #317
i did try the new open ai gym wrapper agent but:

[2022-08-30 11:50] SomeRandomGuy009 commented on #326
yep, random battles doesn't yield good results because of "random natures"...maybe it would yield good output if the bot had a random_battle_sets.json file which it could look through every turn to assume the nature of a poke?

[2022-08-30 13:52] #316 closed

[2022-08-31 21:23] akashsara commented on #321
Another one I'm seeing.

[code]

Currently on `poke-env-0.5.0`

[2022-08-31 21:30] akashsara commented on #317
Oh I think I see the issue. Try using `from poke_env.environment.abstract_battle import AbstractBattle` instead of `from poke_env.abstract_battle import AbstractBattle`.

[2022-08-31 21:39] akashsara commented on #326
@SomeRandomGuy009 what algorithm are you using to train your agent?

[2022-09-01 07:13] akashsara opened #330 "AssertionError: Error with move copycat"
Error Message
[code]

[2022-09-01 07:17] akashsara commented on #330
From L2, the moves are supposed to be Copycat, Switcheroo, Thunder Wave and Encore. Copycat gets replaced by Outrage for some reason. From my understanding of Copycat it doesn't actually replace the move the Pokemon has, so this should not be happening right?

[2022-09-01 10:55] SomeRandomGuy009 commented on #317
yep, did that yesterday and started working

[2022-09-02 02:15] akashsara opened #332 "General API: player.battle_against calls take progressively longer"
Hi
Some context: I want to study the winrates/pickrates of Pokemon across a large number of battles. I'm using the Teambuilder to set up teams on the fly by generating some M teams every N battles and randomly sampling a team for every new battle.

I'm encountering a bit of a weird issue here in that the amount of time taken seems to be increasing significantly the more battles I play. For instanc

[2022-09-02 02:15] akashsara commented on #332
[code]

[2022-09-03 00:58] akashsara commented on #332
Okay update. I stripped out all extra parts and just used a random agent as well. I've run it multiple times and every time the time taken starts to increase drastically.

[code]

Example output log:
[code]

[2022-09-03 04:52] akashsara commented on #332
Okay so this doesn't seem like it's restricted to just the general API either. Same issue on the Gym API. Times over 10 "epochs": 912.204, 843.306, 854.991, 996.165, 1855.084, 2998.612, 2181.692, 2392.389, 2735.754, 3727.633, 4213.733

This also means that the problem is not with the `battle_against` function either.

[code]

[2022-09-05 16:47] adzcai opened #333 "`check_env` fails due to missing random number generator"
I'm following the tutorial on [getting started with RL and `EnvPlayer`s](https://poke-env.readthedocs.io/en/latest/rl_with_open_ai_gym_wrapper.html), but running into the following error when I call `check_env(test_env)`:

[code]

My code is identical to what's provided in the tutorial. I noticed that the `OpenAIGymEnv` overrides the native `Env.seed` method, which isn't setting `self._np_random`

[2022-09-06 00:25] akashsara commented on #320
Encountered the same issue again. @hsahovic do you have any guesses on what might be causing this?
[code]

[2022-09-06 22:05] akashsara commented on #332
It seems to be running fine if I do multiple small runs (run for 10k battles. Stop. Run again for 10k battles). But if I run for a larger number it's a lot more likely that I have this issue.

[2022-09-09 21:58] akashsara opened #335 "Include items.json in data?"
Hi!
I'm not sure if this has been discussed before (couldn't find anything on it) but is there a reason items aren't included there? Everything else seems to be there. I know that the items aren't necessarily used anywhere in poke-env itself, but I think it would still be helpful for users creating more complex states.

In my own case, I'm using the files in the data folder to get information on P

[2022-09-10 01:17] akashsara commented on #330
[code]
Same scenario but with metronome

[2022-09-12 04:02] akashsara commented on #332
I think this might be due to a memory leak somewhere?
[code]

[2022-09-12 22:47] melondonkey opened #337 "Wrappers for CLI functions?"
A nice-to-have would be some basic wrappers for the CLI tools.  For example, for testing VGC applications being able to call the CLI command "generate-team gen8vgc2022 12345".   I might be able to work on this after I learn a bit more but pretty rusty with python (not that I ever knew it that well).
[
](https://github.com/smogon/pokemon-showdown/blob/master/COMMANDLINE.md)

[2022-09-26 05:24] SomeRandomGuy009 commented on #326
well, i don't train agents...the algo i use for battles depends upon the bot's current elo. If it goes above 1500, predictions work quite often so it's minimax for that range. Below 1500, it's like simple heuristics.

[2022-09-26 06:35] akashsara commented on #326
Oh are you using something like pmariglia's agent?

[2022-09-26 15:44] SomeRandomGuy009 commented on #326
something like that but worse...it's like two agents..if elo goes above the specified no. it changes algo as specified.

[2022-10-09 13:23] kasmith11 opened #339 "Error: read ECONNRESET when using Ubuntu 20.04 on WSL2"
When following the Getting Started guide, I am getting `CRASH: Error: read ECONNRESET` when running `node pokemon-showdown start --no-security` using Ubuntu 20.04 on WSL2

`RESTORE CHATROOM: lobby
RESTORE CHATROOM: staff

CRASH: Error: read ECONNRESET
    at Pipe.onStreamRead (node:internal/stream_base_commons:217:20)
    at Pipe.callbackTrampoline (node:internal/async_hooks:130:17)

CRASH: Error:

[2022-10-11 11:25] hsahovic commented on #339
Hey @kasmith11,

Thanks for opening this issue. Which version of python are you using? I had similar issues with `3.10`.
Otherwise, this looks like a showdown issue - maybe increasing the resources allocated to the server could help?

[2022-10-11 11:27] hsahovic commented on #337
Hey @melondonkey,

Generating teams using usage stats is something i'd love to add to `poke-env`. I haven't put any time towards it though. This could be a great contribution, in case you (or anyone reading this) would like to help :)

[2022-10-12 09:44] kasmith11 commented on #339
@hsahovic I am running python `3.8.13`. What have you done in the past to address the issue? I've looked for this issue in the `pokemon-showdown` repository as well and none of the closed issues had a solution that worked for me.

[2022-10-12 09:44] kasmith11 commented on #339
Would it be helpful if I open an issue there going forward?

[2022-11-21 20:56] hsahovic opened #341 "Gen 9 support"
Title.

[2022-11-22 18:04] fbkhalif opened #342 "argument error in rl_with_new_open_ai_gym_wrapper.py"
hello! in line 76  an error is raised because  SimpleRLPlayer is missing the opponent argument, commenting out the testing the environment portion still allows the rest of the code to run smoothly